.text--primary-navy-blue {
  color: #1d7ec3;
}
.text--primary-sea-foam {
  color: #bfdce5;
}
.text--primary-sun {
  color: #f5a821;
}
.text--primary-mustard {
  color: #ffe35b;
}
.text--secondary-charcoal {
  color: #36454f;
}
.text--secondary-teal {
  color: #08c4b2;
}
.text--secondary-chocolate {
  color: #c3621d;
}
.text--semantic-success {
  color: #0ca750;
}
.text--semantic-link {
  color: #2079c3;
}
.text--semantic-error {
  color: #db3e3e;
}
.text--semantic-warning {
  color: #ffbc00;
}
.text--navy-blue-50 {
  color: #d2e5f3;
}
.text--navy-blue-100 {
  color: #bbd8ed;
}
.text--navy-blue-200 {
  color: #a5cbe7;
}
.text--navy-blue-300 {
  color: #8ebee1;
}
.text--navy-blue-400 {
  color: #77b1db;
}
.text--navy-blue-500 {
  color: #61a4d5;
}
.text--navy-blue-600 {
  color: #4a97cf;
}
.text--navy-blue-700 {
  color: #348ac9;
}
.text--navy-blue-800 {
  color: #1d7ec3;
}
.text--navy-blue-900 {
  color: #1a71b0;
}
.text--sea-foam-50 {
  color: #e5f1f5;
}
.text--sea-foam-100 {
  color: #bfdce5;
}
.text--sea-foam-200 {
  color: #91c7d9;
}
.text--sea-foam-300 {
  color: #61b3d0;
}
.text--sea-foam-400 {
  color: #3ea5cc;
}
.text--sea-foam-500 {
  color: #1697c8;
}
.text--sea-foam-600 {
  color: #0f8abb;
}
.text--sea-foam-700 {
  color: #0079a9;
}
.text--sea-foam-800 {
  color: #006896;
}
.text--sea-foam-900 {
  color: #004a78;
}
.text--sun-50 {
  color: #fef6e9;
}
.text--sun-100 {
  color: #fdeed3;
}
.text--sun-200 {
  color: #fce5bc;
}
.text--sun-300 {
  color: #fbdca6;
}
.text--sun-400 {
  color: #fad490;
}
.text--sun-500 {
  color: #f9cb7a;
}
.text--sun-600 {
  color: #f8c264;
}
.text--sun-700 {
  color: #f7b94d;
}
.text--sun-800 {
  color: #f5a821;
}
.text--sun-900 {
  color: #dd971e;
}
.text--mustard-50 {
  color: #fff9d8;
}
.text--mustard-100 {
  color: #fff6cb;
}
.text--mustard-200 {
  color: #fff3ba;
}
.text--mustard-300 {
  color: #fff0a3;
}
.text--mustard-400 {
  color: #ffea84;
}
.text--mustard-500 {
  color: #ffe35b;
}
.text--mustard-600 {
  color: #e9ca3d;
}
.text--mustard-700 {
  color: #d7b323;
}
.text--mustard-800 {
  color: #af9125;
}
.text--mustard-900 {
  color: #8f7726;
}
.text--teal-50 {
  color: #ddf5f2;
}
.text--teal-100 {
  color: #cdf7ef;
}
.text--teal-200 {
  color: #b3f2e6;
}
.text--teal-300 {
  color: #7dead5;
}
.text--teal-400 {
  color: #24e0c5;
}
.text--teal-500 {
  color: #08c4b2;
}
.text--teal-600 {
  color: #00a99c;
}
.text--teal-700 {
  color: #0b968f;
}
.text--teal-800 {
  color: #067c7c;
}
.text--teal-900 {
  color: #026661;
}
.text--chocolate-50 {
  color: #faf3e3;
}
.text--chocolate-100 {
  color: #f4e0b8;
}
.text--chocolate-200 {
  color: #edcc8a;
}
.text--chocolate-300 {
  color: #e7b95e;
}
.text--chocolate-400 {
  color: #e3aa41;
}
.text--chocolate-500 {
  color: #e09d30;
}
.text--chocolate-600 {
  color: #dc922b;
}
.text--chocolate-700 {
  color: #d58426;
}
.text--chocolate-800 {
  color: #cf7722;
}
.text--chocolate-900 {
  color: #c3621d;
}
.text--charcoal-50 {
  color: #ebeff2;
}
.text--charcoal-100 {
  color: #ced7dd;
}
.text--charcoal-200 {
  color: #afbdc6;
}
.text--charcoal-300 {
  color: #8fa2af;
}
.text--charcoal-400 {
  color: #788e9d;
}
.text--charcoal-500 {
  color: #607a8c;
}
.text--charcoal-600 {
  color: #546c7a;
}
.text--charcoal-700 {
  color: #445864;
}
.text--charcoal-800 {
  color: #36454f;
}
.text--charcoal-900 {
  color: #253038;
}
.text--blue-50 {
  color: #e9f8ff;
}
.text--blue-100 {
  color: #dcf2ff;
}
.text--blue-200 {
  color: #c7e4f9;
}
.text--blue-300 {
  color: #a1d2f8;
}
.text--blue-400 {
  color: #56adf5;
}
.text--blue-500 {
  color: #3896e3;
}
.text--blue-600 {
  color: #2b87d3;
}
.text--blue-700 {
  color: #2079c3;
}
.text--blue-800 {
  color: #116daa;
}
.text--blue-900 {
  color: #0c5689;
}
.text--green-50 {
  color: #ebf9eb;
}
.text--green-100 {
  color: #d7f4d7;
}
.text--green-200 {
  color: #c2f2bd;
}
.text--green-300 {
  color: #98e58e;
}
.text--green-400 {
  color: #75dd66;
}
.text--green-500 {
  color: #59cb59;
}
.text--green-600 {
  color: #2bb656;
}
.text--green-700 {
  color: #0ca750;
}
.text--green-800 {
  color: #008b46;
}
.text--green-900 {
  color: #006b40;
}
.text--red-50 {
  color: #ffeae9;
}
.text--red-100 {
  color: #ffd5d2;
}
.text--red-200 {
  color: #ffb8b1;
}
.text--red-300 {
  color: #ff9c8f;
}
.text--red-400 {
  color: #ff7f6e;
}
.text--red-500 {
  color: #f76054;
}
.text--red-600 {
  color: #ed4c42;
}
.text--red-700 {
  color: #db3e3e;
}
.text--red-800 {
  color: #c63434;
}
.text--red-900 {
  color: #992222;
}
.text--yellow-50 {
  color: #fff8e2;
}
.text--yellow-100 {
  color: #fdefcd;
}
.text--yellow-200 {
  color: #ffe99a;
}
.text--yellow-300 {
  color: #ffe16e;
}
.text--yellow-400 {
  color: #ffd943;
}
.text--yellow-500 {
  color: #ffcd1c;
}
.text--yellow-600 {
  color: #ffbc00;
}
.text--yellow-700 {
  color: #dd9903;
}
.text--yellow-800 {
  color: #ba7506;
}
.text--yellow-900 {
  color: #944c0c;
}
.text--neutral-50 {
  color: #f9fafa;
}
.text--neutral-100 {
  color: #f3f4f4;
}
.text--neutral-200 {
  color: #dee1e1;
}
.text--neutral-300 {
  color: #c8cccc;
}
.text--neutral-400 {
  color: #b0b6b7;
}
.text--neutral-500 {
  color: #929a9b;
}
.text--neutral-600 {
  color: #6e797a;
}
.text--neutral-700 {
  color: #515e5f;
}
.text--neutral-800 {
  color: #364141;
}
.text--neutral-900 {
  color: #273333;
}
.text--neutral-1000 {
  color: #162020;
}
.text--neutral-1100 {
  color: #040404;
}
.text--neutral-1200 {
  color: #000000;
}

.bg--primary-navy-blue {
  background-color: #1d7ec3;
}
.bg--primary-sea-foam {
  background-color: #bfdce5;
}
.bg--primary-sun {
  background-color: #f5a821;
}
.bg--primary-mustard {
  background-color: #ffe35b;
}
.bg--secondary-charcoal {
  background-color: #36454f;
}
.bg--secondary-teal {
  background-color: #08c4b2;
}
.bg--secondary-chocolate {
  background-color: #c3621d;
}
.bg--semantic-success {
  background-color: #0ca750;
}
.bg--semantic-link {
  background-color: #2079c3;
}
.bg--semantic-error {
  background-color: #db3e3e;
}
.bg--semantic-warning {
  background-color: #ffbc00;
}
.bg--navy-blue-50 {
  background-color: #d2e5f3;
}
.bg--navy-blue-100 {
  background-color: #bbd8ed;
}
.bg--navy-blue-200 {
  background-color: #a5cbe7;
}
.bg--navy-blue-300 {
  background-color: #8ebee1;
}
.bg--navy-blue-400 {
  background-color: #77b1db;
}
.bg--navy-blue-500 {
  background-color: #61a4d5;
}
.bg--navy-blue-600 {
  background-color: #4a97cf;
}
.bg--navy-blue-700 {
  background-color: #348ac9;
}
.bg--navy-blue-800 {
  background-color: #1d7ec3;
}
.bg--navy-blue-900 {
  background-color: #1a71b0;
}
.bg--sea-foam-50 {
  background-color: #e5f1f5;
}
.bg--sea-foam-100 {
  background-color: #bfdce5;
}
.bg--sea-foam-200 {
  background-color: #91c7d9;
}
.bg--sea-foam-300 {
  background-color: #61b3d0;
}
.bg--sea-foam-400 {
  background-color: #3ea5cc;
}
.bg--sea-foam-500 {
  background-color: #1697c8;
}
.bg--sea-foam-600 {
  background-color: #0f8abb;
}
.bg--sea-foam-700 {
  background-color: #0079a9;
}
.bg--sea-foam-800 {
  background-color: #006896;
}
.bg--sea-foam-900 {
  background-color: #004a78;
}
.bg--sun-50 {
  background-color: #fef6e9;
}
.bg--sun-100 {
  background-color: #fdeed3;
}
.bg--sun-200 {
  background-color: #fce5bc;
}
.bg--sun-300 {
  background-color: #fbdca6;
}
.bg--sun-400 {
  background-color: #fad490;
}
.bg--sun-500 {
  background-color: #f9cb7a;
}
.bg--sun-600 {
  background-color: #f8c264;
}
.bg--sun-700 {
  background-color: #f7b94d;
}
.bg--sun-800 {
  background-color: #f5a821;
}
.bg--sun-900 {
  background-color: #dd971e;
}
.bg--mustard-50 {
  background-color: #fff9d8;
}
.bg--mustard-100 {
  background-color: #fff6cb;
}
.bg--mustard-200 {
  background-color: #fff3ba;
}
.bg--mustard-300 {
  background-color: #fff0a3;
}
.bg--mustard-400 {
  background-color: #ffea84;
}
.bg--mustard-500 {
  background-color: #ffe35b;
}
.bg--mustard-600 {
  background-color: #e9ca3d;
}
.bg--mustard-700 {
  background-color: #d7b323;
}
.bg--mustard-800 {
  background-color: #af9125;
}
.bg--mustard-900 {
  background-color: #8f7726;
}
.bg--teal-50 {
  background-color: #ddf5f2;
}
.bg--teal-100 {
  background-color: #cdf7ef;
}
.bg--teal-200 {
  background-color: #b3f2e6;
}
.bg--teal-300 {
  background-color: #7dead5;
}
.bg--teal-400 {
  background-color: #24e0c5;
}
.bg--teal-500 {
  background-color: #08c4b2;
}
.bg--teal-600 {
  background-color: #00a99c;
}
.bg--teal-700 {
  background-color: #0b968f;
}
.bg--teal-800 {
  background-color: #067c7c;
}
.bg--teal-900 {
  background-color: #026661;
}
.bg--chocolate-50 {
  background-color: #faf3e3;
}
.bg--chocolate-100 {
  background-color: #f4e0b8;
}
.bg--chocolate-200 {
  background-color: #edcc8a;
}
.bg--chocolate-300 {
  background-color: #e7b95e;
}
.bg--chocolate-400 {
  background-color: #e3aa41;
}
.bg--chocolate-500 {
  background-color: #e09d30;
}
.bg--chocolate-600 {
  background-color: #dc922b;
}
.bg--chocolate-700 {
  background-color: #d58426;
}
.bg--chocolate-800 {
  background-color: #cf7722;
}
.bg--chocolate-900 {
  background-color: #c3621d;
}
.bg--charcoal-50 {
  background-color: #ebeff2;
}
.bg--charcoal-100 {
  background-color: #ced7dd;
}
.bg--charcoal-200 {
  background-color: #afbdc6;
}
.bg--charcoal-300 {
  background-color: #8fa2af;
}
.bg--charcoal-400 {
  background-color: #788e9d;
}
.bg--charcoal-500 {
  background-color: #607a8c;
}
.bg--charcoal-600 {
  background-color: #546c7a;
}
.bg--charcoal-700 {
  background-color: #445864;
}
.bg--charcoal-800 {
  background-color: #36454f;
}
.bg--charcoal-900 {
  background-color: #253038;
}
.bg--blue-50 {
  background-color: #e9f8ff;
}
.bg--blue-100 {
  background-color: #dcf2ff;
}
.bg--blue-200 {
  background-color: #c7e4f9;
}
.bg--blue-300 {
  background-color: #a1d2f8;
}
.bg--blue-400 {
  background-color: #56adf5;
}
.bg--blue-500 {
  background-color: #3896e3;
}
.bg--blue-600 {
  background-color: #2b87d3;
}
.bg--blue-700 {
  background-color: #2079c3;
}
.bg--blue-800 {
  background-color: #116daa;
}
.bg--blue-900 {
  background-color: #0c5689;
}
.bg--green-50 {
  background-color: #ebf9eb;
}
.bg--green-100 {
  background-color: #d7f4d7;
}
.bg--green-200 {
  background-color: #c2f2bd;
}
.bg--green-300 {
  background-color: #98e58e;
}
.bg--green-400 {
  background-color: #75dd66;
}
.bg--green-500 {
  background-color: #59cb59;
}
.bg--green-600 {
  background-color: #2bb656;
}
.bg--green-700 {
  background-color: #0ca750;
}
.bg--green-800 {
  background-color: #008b46;
}
.bg--green-900 {
  background-color: #006b40;
}
.bg--red-50 {
  background-color: #ffeae9;
}
.bg--red-100 {
  background-color: #ffd5d2;
}
.bg--red-200 {
  background-color: #ffb8b1;
}
.bg--red-300 {
  background-color: #ff9c8f;
}
.bg--red-400 {
  background-color: #ff7f6e;
}
.bg--red-500 {
  background-color: #f76054;
}
.bg--red-600 {
  background-color: #ed4c42;
}
.bg--red-700 {
  background-color: #db3e3e;
}
.bg--red-800 {
  background-color: #c63434;
}
.bg--red-900 {
  background-color: #992222;
}
.bg--yellow-50 {
  background-color: #fff8e2;
}
.bg--yellow-100 {
  background-color: #fdefcd;
}
.bg--yellow-200 {
  background-color: #ffe99a;
}
.bg--yellow-300 {
  background-color: #ffe16e;
}
.bg--yellow-400 {
  background-color: #ffd943;
}
.bg--yellow-500 {
  background-color: #ffcd1c;
}
.bg--yellow-600 {
  background-color: #ffbc00;
}
.bg--yellow-700 {
  background-color: #dd9903;
}
.bg--yellow-800 {
  background-color: #ba7506;
}
.bg--yellow-900 {
  background-color: #944c0c;
}
.bg--neutral-50 {
  background-color: #f9fafa;
}
.bg--neutral-100 {
  background-color: #f3f4f4;
}
.bg--neutral-200 {
  background-color: #dee1e1;
}
.bg--neutral-300 {
  background-color: #c8cccc;
}
.bg--neutral-400 {
  background-color: #b0b6b7;
}
.bg--neutral-500 {
  background-color: #929a9b;
}
.bg--neutral-600 {
  background-color: #6e797a;
}
.bg--neutral-700 {
  background-color: #515e5f;
}
.bg--neutral-800 {
  background-color: #364141;
}
.bg--neutral-900 {
  background-color: #273333;
}
.bg--neutral-1000 {
  background-color: #162020;
}
.bg--neutral-1100 {
  background-color: #040404;
}
.bg--neutral-1200 {
  background-color: #000000;
}

/*# sourceMappingURL=color.css.map */
