@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.roboto {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
}
.roboto--h1 {
  font-size: 96px;
  font-weight: 600;
  line-height: 112px;
  letter-spacing: -0.015em;
}
.roboto--h2 {
  font-size: 80px;
  font-weight: 300;
  line-height: 96px;
  letter-spacing: -0.015em;
}
.roboto--h3 {
  font-size: 64px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0.005em;
}
.roboto--h4 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.0025em;
}
.roboto--h5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.0025em;
}
.roboto--h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.0015em;
}
.roboto--h7 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.0015em;
}
.roboto--st1-regular {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.0015em;
}
.roboto--st1-medium {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.0015em;
}
.roboto--st2-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.roboto--st2-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.roboto--b1-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.roboto--b1-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.roboto--b2-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.roboto--b2-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.roboto--btn-1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.roboto--btn-2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.roboto--caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.0015em;
}
.roboto--overline {
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.0015em;
}

.poppins, .gt-checkbox--sm .label--title, .gt-checkbox .label--subtitle, .gt-checkbox .label--title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: left;
}
.poppins--h1 {
  font-size: 96px;
  font-weight: 600;
  line-height: 128px;
  letter-spacing: -0.015em;
}
.poppins--h2 {
  font-size: 80px;
  font-weight: 300;
  line-height: 104px;
  letter-spacing: -0.015em;
}
.poppins--h3 {
  font-size: 64px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.005em;
}
.poppins--h4 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.0025em;
}
.poppins--h5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.0025em;
}
.poppins--h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.0015em;
}
.poppins--h7 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.0015em;
}
.poppins--st1-regular {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.0015em;
}
.poppins--st1-medium {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.0015em;
}
.poppins--st2-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.poppins--st2-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.poppins--b1-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.poppins--b1-medium, .gt-checkbox .label--title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.poppins--b2-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.poppins--b2-medium, .gt-checkbox--sm .label--title {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.poppins--btn-1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.poppins--btn-2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.poppins--caption, .gt-checkbox .label--subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.poppins--overline {
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.0015em;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  text-align: left;
}
.open-sans--h1 {
  font-size: 96px;
  font-weight: 800;
  line-height: 128px;
  letter-spacing: -0.015em;
}
.open-sans--h2 {
  font-size: 80px;
  font-weight: 300;
  line-height: 104px;
  letter-spacing: -0.015em;
}
.open-sans--h3 {
  font-size: 64px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.005em;
}
.open-sans--h4 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.0025em;
}
.open-sans--h5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.0025em;
}
.open-sans--h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.0015em;
}
.open-sans--h7 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.0015em;
}
.open-sans--st1-regular {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.0015em;
}
.open-sans--st1-semibold {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.0015em;
}
.open-sans--st2-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.open-sans--st2-semibold {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.open-sans--b1-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.open-sans--b1-semibold {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.open-sans--b2-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.open-sans--b2-semibold {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.open-sans--btn-1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.open-sans--btn-2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.open-sans--caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.open-sans--overline {
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.0015em;
}

.playfair {
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-align: left;
}
.playfair--h1 {
  font-size: 96px;
  font-weight: 800;
  line-height: 128px;
  letter-spacing: -0.015em;
}
.playfair--h2 {
  font-size: 80px;
  font-weight: 400;
  line-height: 104px;
  letter-spacing: -0.015em;
}
.playfair--h3 {
  font-size: 64px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.005em;
}
.playfair--h4 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.0025em;
}
.playfair--h5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.0025em;
}
.playfair--h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.0015em;
}
.playfair--h7 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.0015em;
}
.playfair--st1-regular {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.0015em;
}
.playfair--st1-medium {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.0015em;
}
.playfair--st2-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.playfair--st2-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.playfair--b1-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.playfair--b1-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.playfair--b2-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.playfair--b2-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.playfair--btn-1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.playfair--btn-2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.playfair--caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.playfair--overline {
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.0015em;
}

.text--primary-navy-blue {
  color: #1d7ec3;
}
.text--primary-sea-foam {
  color: #bfdce5;
}
.text--primary-sun {
  color: #f5a821;
}
.text--primary-mustard {
  color: #ffe35b;
}
.text--secondary-charcoal {
  color: #36454f;
}
.text--secondary-teal {
  color: #08c4b2;
}
.text--secondary-chocolate {
  color: #cf7722;
}
.text--semantic-success {
  color: #0ca750;
}
.text--semantic-link {
  color: #2079c3;
}
.text--semantic-error {
  color: #db3e3e;
}
.text--semantic-warning {
  color: #ffbc00;
}
.text--navy-blue-50 {
  color: #d2e5f3;
}
.text--navy-blue-100 {
  color: #bbd8ed;
}
.text--navy-blue-200 {
  color: #a5cbe7;
}
.text--navy-blue-300 {
  color: #8ebee1;
}
.text--navy-blue-400 {
  color: #77b1db;
}
.text--navy-blue-500 {
  color: #61a4d5;
}
.text--navy-blue-600 {
  color: #4a97cf;
}
.text--navy-blue-700 {
  color: #348ac9;
}
.text--navy-blue-800 {
  color: #1d7ec3;
}
.text--navy-blue-900 {
  color: #1a71b0;
}
.text--sea-foam-50 {
  color: #e5f1f5;
}
.text--sea-foam-100 {
  color: #bfdce5;
}
.text--sea-foam-200 {
  color: #91c7d9;
}
.text--sea-foam-300 {
  color: #61b3d0;
}
.text--sea-foam-400 {
  color: #3ea5cc;
}
.text--sea-foam-500 {
  color: #1697c8;
}
.text--sea-foam-600 {
  color: #0f8abb;
}
.text--sea-foam-700 {
  color: #0079a9;
}
.text--sea-foam-800 {
  color: #006896;
}
.text--sea-foam-900 {
  color: #004a78;
}
.text--sun-50 {
  color: #fef6e9;
}
.text--sun-100 {
  color: #fdeed3;
}
.text--sun-200 {
  color: #fce5bc;
}
.text--sun-300 {
  color: #fbdca6;
}
.text--sun-400 {
  color: #fad490;
}
.text--sun-500 {
  color: #f9cb7a;
}
.text--sun-600 {
  color: #f8c264;
}
.text--sun-700 {
  color: #f7b94d;
}
.text--sun-800 {
  color: #f5a821;
}
.text--sun-900 {
  color: #dd971e;
}
.text--mustard-50 {
  color: #fff9d8;
}
.text--mustard-100 {
  color: #fff6cb;
}
.text--mustard-200 {
  color: #fff3ba;
}
.text--mustard-300 {
  color: #fff0a3;
}
.text--mustard-400 {
  color: #ffea84;
}
.text--mustard-500 {
  color: #ffe35b;
}
.text--mustard-600 {
  color: #e9ca3d;
}
.text--mustard-700 {
  color: #d7b323;
}
.text--mustard-800 {
  color: #af9125;
}
.text--mustard-900 {
  color: #8f7726;
}
.text--teal-50 {
  color: #ddf5f2;
}
.text--teal-100 {
  color: #cdf7ef;
}
.text--teal-200 {
  color: #b3f2e6;
}
.text--teal-300 {
  color: #7dead5;
}
.text--teal-400 {
  color: #24e0c5;
}
.text--teal-500 {
  color: #08c4b2;
}
.text--teal-600 {
  color: #00a99c;
}
.text--teal-700 {
  color: #0b968f;
}
.text--teal-800 {
  color: #067c7c;
}
.text--teal-900 {
  color: #026661;
}
.text--chocolate-50 {
  color: #faf3e3;
}
.text--chocolate-100 {
  color: #f4e0b8;
}
.text--chocolate-200 {
  color: #edcc8a;
}
.text--chocolate-300 {
  color: #e7b95e;
}
.text--chocolate-400 {
  color: #e3aa41;
}
.text--chocolate-500 {
  color: #e09d30;
}
.text--chocolate-600 {
  color: #dc922b;
}
.text--chocolate-700 {
  color: #d58426;
}
.text--chocolate-800 {
  color: #cf7722;
}
.text--chocolate-900 {
  color: #c3621d;
}
.text--charcoal-50 {
  color: #ebeff2;
}
.text--charcoal-100 {
  color: #ced7dd;
}
.text--charcoal-200 {
  color: #afbdc6;
}
.text--charcoal-300 {
  color: #8fa2af;
}
.text--charcoal-400 {
  color: #788e9d;
}
.text--charcoal-500 {
  color: #607a8c;
}
.text--charcoal-600 {
  color: #546c7a;
}
.text--charcoal-700 {
  color: #445864;
}
.text--charcoal-800 {
  color: #36454f;
}
.text--charcoal-900 {
  color: #253038;
}
.text--blue-50 {
  color: #e9f8ff;
}
.text--blue-100 {
  color: #dcf2ff;
}
.text--blue-200 {
  color: #c7e4f9;
}
.text--blue-300 {
  color: #a1d2f8;
}
.text--blue-400 {
  color: #56adf5;
}
.text--blue-500 {
  color: #3896e3;
}
.text--blue-600 {
  color: #2b87d3;
}
.text--blue-700 {
  color: #2079c3;
}
.text--blue-800 {
  color: #116daa;
}
.text--blue-900 {
  color: #0c5689;
}
.text--green-50 {
  color: #ebf9eb;
}
.text--green-100 {
  color: #d7f4d7;
}
.text--green-200 {
  color: #c2f2bd;
}
.text--green-300 {
  color: #98e58e;
}
.text--green-400 {
  color: #75dd66;
}
.text--green-500 {
  color: #59cb59;
}
.text--green-600 {
  color: #2bb656;
}
.text--green-700 {
  color: #0ca750;
}
.text--green-800 {
  color: #008b46;
}
.text--green-900 {
  color: #006b40;
}
.text--red-50 {
  color: #ffeae9;
}
.text--red-100 {
  color: #ffd5d2;
}
.text--red-200 {
  color: #ffb8b1;
}
.text--red-300 {
  color: #ff9c8f;
}
.text--red-400 {
  color: #ff7f6e;
}
.text--red-500 {
  color: #f76054;
}
.text--red-600 {
  color: #ed4c42;
}
.text--red-700 {
  color: #db3e3e;
}
.text--red-800 {
  color: #c63434;
}
.text--red-900 {
  color: #992222;
}
.text--yellow-50 {
  color: #fff8e2;
}
.text--yellow-100 {
  color: #fdefcd;
}
.text--yellow-200 {
  color: #ffe99a;
}
.text--yellow-300 {
  color: #ffe16e;
}
.text--yellow-400 {
  color: #ffd943;
}
.text--yellow-500 {
  color: #ffcd1c;
}
.text--yellow-600 {
  color: #ffbc00;
}
.text--yellow-700 {
  color: #dd9903;
}
.text--yellow-800 {
  color: #ba7506;
}
.text--yellow-900 {
  color: #944c0c;
}
.text--neutral-50 {
  color: #f9fafa;
}
.text--neutral-100 {
  color: #f3f4f4;
}
.text--neutral-200 {
  color: #dee1e1;
}
.text--neutral-300 {
  color: #c8cccc;
}
.text--neutral-400 {
  color: #b0b6b7;
}
.text--neutral-500, .gt-checkbox--disabled .label--subtitle, .gt-checkbox--disabled .label--title {
  color: #929a9b;
}
.text--neutral-600 {
  color: #6e797a;
}
.text--neutral-700, .gt-checkbox--secondary .label--subtitle, .gt-checkbox--primary .label--subtitle {
  color: #515e5f;
}
.text--neutral-800 {
  color: #364141;
}
.text--neutral-900, .gt-checkbox--secondary .label--title, .gt-checkbox--primary .label--title {
  color: #273333;
}
.text--neutral-1000 {
  color: #162020;
}
.text--neutral-1100 {
  color: #040404;
}
.text--neutral-1200 {
  color: #000000;
}

.bg--primary-navy-blue, .gt-checkbox--primary input:checked ~ .checkmark {
  background-color: #1d7ec3;
}
.bg--primary-sea-foam {
  background-color: #bfdce5;
}
.bg--primary-sun {
  background-color: #f5a821;
}
.bg--primary-mustard {
  background-color: #ffe35b;
}
.bg--secondary-charcoal {
  background-color: #36454f;
}
.bg--secondary-teal {
  background-color: #08c4b2;
}
.bg--secondary-chocolate {
  background-color: #cf7722;
}
.bg--semantic-success {
  background-color: #0ca750;
}
.bg--semantic-link {
  background-color: #2079c3;
}
.bg--semantic-error, .gt-checkbox--secondary input:checked ~ .checkmark {
  background-color: #db3e3e;
}
.bg--semantic-warning {
  background-color: #ffbc00;
}
.bg--navy-blue-50 {
  background-color: #d2e5f3;
}
.bg--navy-blue-100 {
  background-color: #bbd8ed;
}
.bg--navy-blue-200 {
  background-color: #a5cbe7;
}
.bg--navy-blue-300 {
  background-color: #8ebee1;
}
.bg--navy-blue-400 {
  background-color: #77b1db;
}
.bg--navy-blue-500 {
  background-color: #61a4d5;
}
.bg--navy-blue-600 {
  background-color: #4a97cf;
}
.bg--navy-blue-700 {
  background-color: #348ac9;
}
.bg--navy-blue-800 {
  background-color: #1d7ec3;
}
.bg--navy-blue-900 {
  background-color: #1a71b0;
}
.bg--sea-foam-50 {
  background-color: #e5f1f5;
}
.bg--sea-foam-100 {
  background-color: #bfdce5;
}
.bg--sea-foam-200 {
  background-color: #91c7d9;
}
.bg--sea-foam-300 {
  background-color: #61b3d0;
}
.bg--sea-foam-400 {
  background-color: #3ea5cc;
}
.bg--sea-foam-500 {
  background-color: #1697c8;
}
.bg--sea-foam-600 {
  background-color: #0f8abb;
}
.bg--sea-foam-700 {
  background-color: #0079a9;
}
.bg--sea-foam-800 {
  background-color: #006896;
}
.bg--sea-foam-900 {
  background-color: #004a78;
}
.bg--sun-50 {
  background-color: #fef6e9;
}
.bg--sun-100 {
  background-color: #fdeed3;
}
.bg--sun-200 {
  background-color: #fce5bc;
}
.bg--sun-300 {
  background-color: #fbdca6;
}
.bg--sun-400 {
  background-color: #fad490;
}
.bg--sun-500 {
  background-color: #f9cb7a;
}
.bg--sun-600 {
  background-color: #f8c264;
}
.bg--sun-700 {
  background-color: #f7b94d;
}
.bg--sun-800 {
  background-color: #f5a821;
}
.bg--sun-900 {
  background-color: #dd971e;
}
.bg--mustard-50 {
  background-color: #fff9d8;
}
.bg--mustard-100 {
  background-color: #fff6cb;
}
.bg--mustard-200 {
  background-color: #fff3ba;
}
.bg--mustard-300 {
  background-color: #fff0a3;
}
.bg--mustard-400 {
  background-color: #ffea84;
}
.bg--mustard-500 {
  background-color: #ffe35b;
}
.bg--mustard-600 {
  background-color: #e9ca3d;
}
.bg--mustard-700 {
  background-color: #d7b323;
}
.bg--mustard-800 {
  background-color: #af9125;
}
.bg--mustard-900 {
  background-color: #8f7726;
}
.bg--teal-50 {
  background-color: #ddf5f2;
}
.bg--teal-100 {
  background-color: #cdf7ef;
}
.bg--teal-200 {
  background-color: #b3f2e6;
}
.bg--teal-300 {
  background-color: #7dead5;
}
.bg--teal-400 {
  background-color: #24e0c5;
}
.bg--teal-500 {
  background-color: #08c4b2;
}
.bg--teal-600 {
  background-color: #00a99c;
}
.bg--teal-700 {
  background-color: #0b968f;
}
.bg--teal-800 {
  background-color: #067c7c;
}
.bg--teal-900 {
  background-color: #026661;
}
.bg--chocolate-50 {
  background-color: #faf3e3;
}
.bg--chocolate-100 {
  background-color: #f4e0b8;
}
.bg--chocolate-200 {
  background-color: #edcc8a;
}
.bg--chocolate-300 {
  background-color: #e7b95e;
}
.bg--chocolate-400 {
  background-color: #e3aa41;
}
.bg--chocolate-500 {
  background-color: #e09d30;
}
.bg--chocolate-600 {
  background-color: #dc922b;
}
.bg--chocolate-700 {
  background-color: #d58426;
}
.bg--chocolate-800 {
  background-color: #cf7722;
}
.bg--chocolate-900 {
  background-color: #c3621d;
}
.bg--charcoal-50 {
  background-color: #ebeff2;
}
.bg--charcoal-100 {
  background-color: #ced7dd;
}
.bg--charcoal-200 {
  background-color: #afbdc6;
}
.bg--charcoal-300 {
  background-color: #8fa2af;
}
.bg--charcoal-400 {
  background-color: #788e9d;
}
.bg--charcoal-500 {
  background-color: #607a8c;
}
.bg--charcoal-600 {
  background-color: #546c7a;
}
.bg--charcoal-700 {
  background-color: #445864;
}
.bg--charcoal-800 {
  background-color: #36454f;
}
.bg--charcoal-900 {
  background-color: #253038;
}
.bg--blue-50 {
  background-color: #e9f8ff;
}
.bg--blue-100 {
  background-color: #dcf2ff;
}
.bg--blue-200 {
  background-color: #c7e4f9;
}
.bg--blue-300 {
  background-color: #a1d2f8;
}
.bg--blue-400 {
  background-color: #56adf5;
}
.bg--blue-500 {
  background-color: #3896e3;
}
.bg--blue-600 {
  background-color: #2b87d3;
}
.bg--blue-700 {
  background-color: #2079c3;
}
.bg--blue-800 {
  background-color: #116daa;
}
.bg--blue-900 {
  background-color: #0c5689;
}
.bg--green-50 {
  background-color: #ebf9eb;
}
.bg--green-100 {
  background-color: #d7f4d7;
}
.bg--green-200 {
  background-color: #c2f2bd;
}
.bg--green-300 {
  background-color: #98e58e;
}
.bg--green-400 {
  background-color: #75dd66;
}
.bg--green-500 {
  background-color: #59cb59;
}
.bg--green-600 {
  background-color: #2bb656;
}
.bg--green-700 {
  background-color: #0ca750;
}
.bg--green-800 {
  background-color: #008b46;
}
.bg--green-900 {
  background-color: #006b40;
}
.bg--red-50 {
  background-color: #ffeae9;
}
.bg--red-100 {
  background-color: #ffd5d2;
}
.bg--red-200 {
  background-color: #ffb8b1;
}
.bg--red-300 {
  background-color: #ff9c8f;
}
.bg--red-400 {
  background-color: #ff7f6e;
}
.bg--red-500 {
  background-color: #f76054;
}
.bg--red-600 {
  background-color: #ed4c42;
}
.bg--red-700 {
  background-color: #db3e3e;
}
.bg--red-800 {
  background-color: #c63434;
}
.bg--red-900 {
  background-color: #992222;
}
.bg--yellow-50 {
  background-color: #fff8e2;
}
.bg--yellow-100 {
  background-color: #fdefcd;
}
.bg--yellow-200 {
  background-color: #ffe99a;
}
.bg--yellow-300 {
  background-color: #ffe16e;
}
.bg--yellow-400 {
  background-color: #ffd943;
}
.bg--yellow-500 {
  background-color: #ffcd1c;
}
.bg--yellow-600 {
  background-color: #ffbc00;
}
.bg--yellow-700 {
  background-color: #dd9903;
}
.bg--yellow-800 {
  background-color: #ba7506;
}
.bg--yellow-900 {
  background-color: #944c0c;
}
.bg--neutral-50 {
  background-color: #f9fafa;
}
.bg--neutral-100 {
  background-color: #f3f4f4;
}
.bg--neutral-200 {
  background-color: #dee1e1;
}
.bg--neutral-300, .gt-checkbox--disabled .checkmark {
  background-color: #c8cccc;
}
.bg--neutral-400 {
  background-color: #b0b6b7;
}
.bg--neutral-500 {
  background-color: #929a9b;
}
.bg--neutral-600 {
  background-color: #6e797a;
}
.bg--neutral-700 {
  background-color: #515e5f;
}
.bg--neutral-800 {
  background-color: #364141;
}
.bg--neutral-900 {
  background-color: #273333;
}
.bg--neutral-1000 {
  background-color: #162020;
}
.bg--neutral-1100 {
  background-color: #040404;
}
.bg--neutral-1200 {
  background-color: #000000;
}

.border--primary-navy-blue {
  border-color: #1d7ec3 !important;
}
.border--primary-sea-foam {
  border-color: #bfdce5 !important;
}
.border--primary-sun {
  border-color: #f5a821 !important;
}
.border--primary-mustard {
  border-color: #ffe35b !important;
}
.border--secondary-charcoal {
  border-color: #36454f !important;
}
.border--secondary-teal {
  border-color: #08c4b2 !important;
}
.border--secondary-chocolate {
  border-color: #cf7722 !important;
}
.border--semantic-success {
  border-color: #0ca750 !important;
}
.border--semantic-link {
  border-color: #2079c3 !important;
}
.border--semantic-error, .gt-checkbox--secondary .checkmark {
  border-color: #db3e3e !important;
}
.border--semantic-warning {
  border-color: #ffbc00 !important;
}
.border--navy-blue-50 {
  border-color: #d2e5f3 !important;
}
.border--navy-blue-100 {
  border-color: #bbd8ed !important;
}
.border--navy-blue-200 {
  border-color: #a5cbe7 !important;
}
.border--navy-blue-300 {
  border-color: #8ebee1 !important;
}
.border--navy-blue-400 {
  border-color: #77b1db !important;
}
.border--navy-blue-500 {
  border-color: #61a4d5 !important;
}
.border--navy-blue-600 {
  border-color: #4a97cf !important;
}
.border--navy-blue-700 {
  border-color: #348ac9 !important;
}
.border--navy-blue-800 {
  border-color: #1d7ec3 !important;
}
.border--navy-blue-900 {
  border-color: #1a71b0 !important;
}
.border--sea-foam-50 {
  border-color: #e5f1f5 !important;
}
.border--sea-foam-100 {
  border-color: #bfdce5 !important;
}
.border--sea-foam-200 {
  border-color: #91c7d9 !important;
}
.border--sea-foam-300 {
  border-color: #61b3d0 !important;
}
.border--sea-foam-400 {
  border-color: #3ea5cc !important;
}
.border--sea-foam-500 {
  border-color: #1697c8 !important;
}
.border--sea-foam-600 {
  border-color: #0f8abb !important;
}
.border--sea-foam-700 {
  border-color: #0079a9 !important;
}
.border--sea-foam-800 {
  border-color: #006896 !important;
}
.border--sea-foam-900 {
  border-color: #004a78 !important;
}
.border--sun-50 {
  border-color: #fef6e9 !important;
}
.border--sun-100 {
  border-color: #fdeed3 !important;
}
.border--sun-200 {
  border-color: #fce5bc !important;
}
.border--sun-300 {
  border-color: #fbdca6 !important;
}
.border--sun-400 {
  border-color: #fad490 !important;
}
.border--sun-500 {
  border-color: #f9cb7a !important;
}
.border--sun-600 {
  border-color: #f8c264 !important;
}
.border--sun-700 {
  border-color: #f7b94d !important;
}
.border--sun-800 {
  border-color: #f5a821 !important;
}
.border--sun-900 {
  border-color: #dd971e !important;
}
.border--mustard-50 {
  border-color: #fff9d8 !important;
}
.border--mustard-100 {
  border-color: #fff6cb !important;
}
.border--mustard-200 {
  border-color: #fff3ba !important;
}
.border--mustard-300 {
  border-color: #fff0a3 !important;
}
.border--mustard-400 {
  border-color: #ffea84 !important;
}
.border--mustard-500 {
  border-color: #ffe35b !important;
}
.border--mustard-600 {
  border-color: #e9ca3d !important;
}
.border--mustard-700 {
  border-color: #d7b323 !important;
}
.border--mustard-800 {
  border-color: #af9125 !important;
}
.border--mustard-900 {
  border-color: #8f7726 !important;
}
.border--teal-50 {
  border-color: #ddf5f2 !important;
}
.border--teal-100 {
  border-color: #cdf7ef !important;
}
.border--teal-200 {
  border-color: #b3f2e6 !important;
}
.border--teal-300 {
  border-color: #7dead5 !important;
}
.border--teal-400 {
  border-color: #24e0c5 !important;
}
.border--teal-500 {
  border-color: #08c4b2 !important;
}
.border--teal-600 {
  border-color: #00a99c !important;
}
.border--teal-700 {
  border-color: #0b968f !important;
}
.border--teal-800 {
  border-color: #067c7c !important;
}
.border--teal-900 {
  border-color: #026661 !important;
}
.border--chocolate-50 {
  border-color: #faf3e3 !important;
}
.border--chocolate-100 {
  border-color: #f4e0b8 !important;
}
.border--chocolate-200 {
  border-color: #edcc8a !important;
}
.border--chocolate-300 {
  border-color: #e7b95e !important;
}
.border--chocolate-400 {
  border-color: #e3aa41 !important;
}
.border--chocolate-500 {
  border-color: #e09d30 !important;
}
.border--chocolate-600 {
  border-color: #dc922b !important;
}
.border--chocolate-700 {
  border-color: #d58426 !important;
}
.border--chocolate-800 {
  border-color: #cf7722 !important;
}
.border--chocolate-900 {
  border-color: #c3621d !important;
}
.border--charcoal-50 {
  border-color: #ebeff2 !important;
}
.border--charcoal-100 {
  border-color: #ced7dd !important;
}
.border--charcoal-200 {
  border-color: #afbdc6 !important;
}
.border--charcoal-300 {
  border-color: #8fa2af !important;
}
.border--charcoal-400 {
  border-color: #788e9d !important;
}
.border--charcoal-500 {
  border-color: #607a8c !important;
}
.border--charcoal-600 {
  border-color: #546c7a !important;
}
.border--charcoal-700 {
  border-color: #445864 !important;
}
.border--charcoal-800 {
  border-color: #36454f !important;
}
.border--charcoal-900 {
  border-color: #253038 !important;
}
.border--blue-50 {
  border-color: #e9f8ff !important;
}
.border--blue-100 {
  border-color: #dcf2ff !important;
}
.border--blue-200 {
  border-color: #c7e4f9 !important;
}
.border--blue-300 {
  border-color: #a1d2f8 !important;
}
.border--blue-400 {
  border-color: #56adf5 !important;
}
.border--blue-500 {
  border-color: #3896e3 !important;
}
.border--blue-600 {
  border-color: #2b87d3 !important;
}
.border--blue-700 {
  border-color: #2079c3 !important;
}
.border--blue-800 {
  border-color: #116daa !important;
}
.border--blue-900 {
  border-color: #0c5689 !important;
}
.border--green-50 {
  border-color: #ebf9eb !important;
}
.border--green-100 {
  border-color: #d7f4d7 !important;
}
.border--green-200 {
  border-color: #c2f2bd !important;
}
.border--green-300 {
  border-color: #98e58e !important;
}
.border--green-400 {
  border-color: #75dd66 !important;
}
.border--green-500 {
  border-color: #59cb59 !important;
}
.border--green-600 {
  border-color: #2bb656 !important;
}
.border--green-700 {
  border-color: #0ca750 !important;
}
.border--green-800 {
  border-color: #008b46 !important;
}
.border--green-900 {
  border-color: #006b40 !important;
}
.border--red-50 {
  border-color: #ffeae9 !important;
}
.border--red-100 {
  border-color: #ffd5d2 !important;
}
.border--red-200 {
  border-color: #ffb8b1 !important;
}
.border--red-300 {
  border-color: #ff9c8f !important;
}
.border--red-400 {
  border-color: #ff7f6e !important;
}
.border--red-500 {
  border-color: #f76054 !important;
}
.border--red-600 {
  border-color: #ed4c42 !important;
}
.border--red-700 {
  border-color: #db3e3e !important;
}
.border--red-800 {
  border-color: #c63434 !important;
}
.border--red-900 {
  border-color: #992222 !important;
}
.border--yellow-50 {
  border-color: #fff8e2 !important;
}
.border--yellow-100 {
  border-color: #fdefcd !important;
}
.border--yellow-200 {
  border-color: #ffe99a !important;
}
.border--yellow-300 {
  border-color: #ffe16e !important;
}
.border--yellow-400 {
  border-color: #ffd943 !important;
}
.border--yellow-500 {
  border-color: #ffcd1c !important;
}
.border--yellow-600 {
  border-color: #ffbc00 !important;
}
.border--yellow-700 {
  border-color: #dd9903 !important;
}
.border--yellow-800 {
  border-color: #ba7506 !important;
}
.border--yellow-900 {
  border-color: #944c0c !important;
}
.border--neutral-50 {
  border-color: #f9fafa !important;
}
.border--neutral-100 {
  border-color: #f3f4f4 !important;
}
.border--neutral-200 {
  border-color: #dee1e1 !important;
}
.border--neutral-300 {
  border-color: #c8cccc !important;
}
.border--neutral-400 {
  border-color: #b0b6b7 !important;
}
.border--neutral-500 {
  border-color: #929a9b !important;
}
.border--neutral-600, .gt-checkbox--primary .checkmark {
  border-color: #6e797a !important;
}
.border--neutral-700 {
  border-color: #515e5f !important;
}
.border--neutral-800 {
  border-color: #364141 !important;
}
.border--neutral-900 {
  border-color: #273333 !important;
}
.border--neutral-1000 {
  border-color: #162020 !important;
}
.border--neutral-1100 {
  border-color: #040404 !important;
}
.border--neutral-1200 {
  border-color: #000000 !important;
}

.cr--sm, .gt-checkbox--lg .checkmark, .gt-checkbox--md .checkmark, .gt-checkbox--sm .checkmark {
  border-radius: 4px;
}
.cr--md {
  border-radius: 8px;
}
.cr--lg {
  border-radius: 16px;
}
.cr--xl {
  border-radius: 50%;
}

.m--1 {
  margin: 4px;
}
.m--2 {
  margin: 8px;
}
.m--3 {
  margin: 12px;
}
.m--4 {
  margin: 16px;
}
.m--5 {
  margin: 20px;
}
.m--6 {
  margin: 24px;
}
.m--7 {
  margin: 28px;
}
.m--8 {
  margin: 32px;
}
.m--9 {
  margin: 36px;
}
.m--10 {
  margin: 40px;
}
.m--11 {
  margin: 44px;
}
.m--12 {
  margin: 48px;
}
.m--13 {
  margin: 52px;
}
.m--14 {
  margin: 56px;
}
.m--15 {
  margin: 60px;
}
.m--16 {
  margin: 64px;
}
.m--17 {
  margin: 68px;
}
.m--18 {
  margin: 72px;
}
.m--19 {
  margin: 76px;
}
.m--20 {
  margin: 80px;
}

.mx--1 {
  margin: 0 4px;
}
.mx--2 {
  margin: 0 8px;
}
.mx--3 {
  margin: 0 12px;
}
.mx--4 {
  margin: 0 16px;
}
.mx--5 {
  margin: 0 20px;
}
.mx--6 {
  margin: 0 24px;
}
.mx--7 {
  margin: 0 28px;
}
.mx--8 {
  margin: 0 32px;
}
.mx--9 {
  margin: 0 36px;
}
.mx--10 {
  margin: 0 40px;
}
.mx--11 {
  margin: 0 44px;
}
.mx--12 {
  margin: 0 48px;
}
.mx--13 {
  margin: 0 52px;
}
.mx--14 {
  margin: 0 56px;
}
.mx--15 {
  margin: 0 60px;
}
.mx--16 {
  margin: 0 64px;
}
.mx--17 {
  margin: 0 68px;
}
.mx--18 {
  margin: 0 72px;
}
.mx--19 {
  margin: 0 76px;
}
.mx--20 {
  margin: 0 80px;
}

.my--1 {
  margin: 4px 0;
}
.my--2 {
  margin: 8px 0;
}
.my--3 {
  margin: 12px 0;
}
.my--4 {
  margin: 16px 0;
}
.my--5 {
  margin: 20px 0;
}
.my--6 {
  margin: 24px 0;
}
.my--7 {
  margin: 28px 0;
}
.my--8 {
  margin: 32px 0;
}
.my--9 {
  margin: 36px 0;
}
.my--10 {
  margin: 40px 0;
}
.my--11 {
  margin: 44px 0;
}
.my--12 {
  margin: 48px 0;
}
.my--13 {
  margin: 52px 0;
}
.my--14 {
  margin: 56px 0;
}
.my--15 {
  margin: 60px 0;
}
.my--16 {
  margin: 64px 0;
}
.my--17 {
  margin: 68px 0;
}
.my--18 {
  margin: 72px 0;
}
.my--19 {
  margin: 76px 0;
}
.my--20 {
  margin: 80px 0;
}

.mt--1 {
  margin-top: 4px;
}
.mt--2 {
  margin-top: 8px;
}
.mt--3 {
  margin-top: 12px;
}
.mt--4 {
  margin-top: 16px;
}
.mt--5 {
  margin-top: 20px;
}
.mt--6 {
  margin-top: 24px;
}
.mt--7 {
  margin-top: 28px;
}
.mt--8 {
  margin-top: 32px;
}
.mt--9 {
  margin-top: 36px;
}
.mt--10 {
  margin-top: 40px;
}
.mt--11 {
  margin-top: 44px;
}
.mt--12 {
  margin-top: 48px;
}
.mt--13 {
  margin-top: 52px;
}
.mt--14 {
  margin-top: 56px;
}
.mt--15 {
  margin-top: 60px;
}
.mt--16 {
  margin-top: 64px;
}
.mt--17 {
  margin-top: 68px;
}
.mt--18 {
  margin-top: 72px;
}
.mt--19 {
  margin-top: 76px;
}
.mt--20 {
  margin-top: 80px;
}

.mb--1 {
  margin-bottom: 4px;
}
.mb--2 {
  margin-bottom: 8px;
}
.mb--3 {
  margin-bottom: 12px;
}
.mb--4 {
  margin-bottom: 16px;
}
.mb--5 {
  margin-bottom: 20px;
}
.mb--6 {
  margin-bottom: 24px;
}
.mb--7 {
  margin-bottom: 28px;
}
.mb--8 {
  margin-bottom: 32px;
}
.mb--9 {
  margin-bottom: 36px;
}
.mb--10 {
  margin-bottom: 40px;
}
.mb--11 {
  margin-bottom: 44px;
}
.mb--12 {
  margin-bottom: 48px;
}
.mb--13 {
  margin-bottom: 52px;
}
.mb--14 {
  margin-bottom: 56px;
}
.mb--15 {
  margin-bottom: 60px;
}
.mb--16 {
  margin-bottom: 64px;
}
.mb--17 {
  margin-bottom: 68px;
}
.mb--18 {
  margin-bottom: 72px;
}
.mb--19 {
  margin-bottom: 76px;
}
.mb--20 {
  margin-bottom: 80px;
}

.ml--1 {
  margin-left: 4px;
}
.ml--2 {
  margin-left: 8px;
}
.ml--3 {
  margin-left: 12px;
}
.ml--4 {
  margin-left: 16px;
}
.ml--5 {
  margin-left: 20px;
}
.ml--6 {
  margin-left: 24px;
}
.ml--7 {
  margin-left: 28px;
}
.ml--8 {
  margin-left: 32px;
}
.ml--9 {
  margin-left: 36px;
}
.ml--10 {
  margin-left: 40px;
}
.ml--11 {
  margin-left: 44px;
}
.ml--12 {
  margin-left: 48px;
}
.ml--13 {
  margin-left: 52px;
}
.ml--14 {
  margin-left: 56px;
}
.ml--15 {
  margin-left: 60px;
}
.ml--16 {
  margin-left: 64px;
}
.ml--17 {
  margin-left: 68px;
}
.ml--18 {
  margin-left: 72px;
}
.ml--19 {
  margin-left: 76px;
}
.ml--20 {
  margin-left: 80px;
}

.mr--1 {
  margin-right: 4px;
}
.mr--2 {
  margin-right: 8px;
}
.mr--3 {
  margin-right: 12px;
}
.mr--4 {
  margin-right: 16px;
}
.mr--5 {
  margin-right: 20px;
}
.mr--6 {
  margin-right: 24px;
}
.mr--7 {
  margin-right: 28px;
}
.mr--8 {
  margin-right: 32px;
}
.mr--9 {
  margin-right: 36px;
}
.mr--10 {
  margin-right: 40px;
}
.mr--11 {
  margin-right: 44px;
}
.mr--12 {
  margin-right: 48px;
}
.mr--13 {
  margin-right: 52px;
}
.mr--14 {
  margin-right: 56px;
}
.mr--15 {
  margin-right: 60px;
}
.mr--16 {
  margin-right: 64px;
}
.mr--17 {
  margin-right: 68px;
}
.mr--18 {
  margin-right: 72px;
}
.mr--19 {
  margin-right: 76px;
}
.mr--20 {
  margin-right: 80px;
}

.gt-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  --webkit-user-select: none;
  --moz-user-select: none;
  --ms-user-select: none;
}
.gt-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.gt-checkbox p {
  margin-bottom: 0;
}
.gt-checkbox--sm .checkmark {
  position: absolute;
  top: 2px;
  left: 6px;
  height: 16px;
  width: 16px;
  border: solid 1px;
}
.gt-checkbox--sm .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.gt-checkbox--sm .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gt-checkbox--sm-indeterminate .checkmark:after {
  left: 7px;
  top: 3px;
  width: 2px;
  border-width: 0 2px 0 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gt-checkbox--md .checkmark {
  position: absolute;
  top: 2px;
  left: 5px;
  height: 20px;
  width: 20px;
  border: solid 1px;
}
.gt-checkbox--md .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.gt-checkbox--md .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gt-checkbox--md-indeterminate .checkmark:after {
  border-width: 0 2px 0 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gt-checkbox--lg .checkmark {
  position: absolute;
  top: 0;
  left: 4px;
  height: 24px;
  width: 24px;
  border: solid 1px;
}
.gt-checkbox--lg .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.gt-checkbox--lg .checkmark:after {
  left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gt-checkbox--lg-indeterminate .checkmark:after {
  border-width: 0 2px 0 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gt-checkbox--primary input:checked ~ .checkmark {
  border: none;
}
.gt-checkbox--primary input:checked ~ .checkmark:after {
  display: block;
}
.gt-checkbox--secondary input:checked ~ .checkmark {
  border: none;
}
.gt-checkbox--secondary input:checked ~ .checkmark:after {
  display: block;
}
.gt-checkbox--disabled .checkmark {
  border: none;
}

/*# sourceMappingURL=GTCheckbox.css.map */
