@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.roboto {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
}
.roboto--h1 {
  font-size: 96px;
  font-weight: 600;
  line-height: 112px;
  letter-spacing: -0.015em;
}
.roboto--h2 {
  font-size: 80px;
  font-weight: 300;
  line-height: 96px;
  letter-spacing: -0.015em;
}
.roboto--h3 {
  font-size: 64px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0.005em;
}
.roboto--h4 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.0025em;
}
.roboto--h5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.0025em;
}
.roboto--h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.0015em;
}
.roboto--h7 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.0015em;
}
.roboto--st1-regular {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.0015em;
}
.roboto--st1-medium {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.0015em;
}
.roboto--st2-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.roboto--st2-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.roboto--b1-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.roboto--b1-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.roboto--b2-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.roboto--b2-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.roboto--btn-1 {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.roboto--btn-2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.roboto--caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.0015em;
}
.roboto--overline {
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.0015em;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: left;
}
.poppins--h1 {
  font-size: 96px;
  font-weight: 600;
  line-height: 128px;
  letter-spacing: -0.015em;
}
.poppins--h2 {
  font-size: 80px;
  font-weight: 300;
  line-height: 104px;
  letter-spacing: -0.015em;
}
.poppins--h3 {
  font-size: 64px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.005em;
}
.poppins--h4 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.0025em;
}
.poppins--h5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.0025em;
}
.poppins--h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.0015em;
}
.poppins--h7 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.0015em;
}
.poppins--st1-regular {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.0015em;
}
.poppins--st1-medium {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.0015em;
}
.poppins--st2-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.poppins--st2-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.poppins--b1-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.poppins--b1-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.poppins--b2-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.poppins--b2-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.poppins--btn-1 {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.poppins--btn-2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.poppins--caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.poppins--overline {
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.0015em;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  text-align: left;
}
.open-sans--h1 {
  font-size: 96px;
  font-weight: 800;
  line-height: 128px;
  letter-spacing: -0.015em;
}
.open-sans--h2 {
  font-size: 80px;
  font-weight: 300;
  line-height: 104px;
  letter-spacing: -0.015em;
}
.open-sans--h3 {
  font-size: 64px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.005em;
}
.open-sans--h4 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.0025em;
}
.open-sans--h5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.0025em;
}
.open-sans--h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.0015em;
}
.open-sans--h7 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.0015em;
}
.open-sans--st1-regular {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.0015em;
}
.open-sans--st1-semibold {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.0015em;
}
.open-sans--st2-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.open-sans--st2-semibold {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.open-sans--b1-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.open-sans--b1-semibold {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.open-sans--b2-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.open-sans--b2-semibold {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.open-sans--btn-1 {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.open-sans--btn-2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.open-sans--caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.open-sans--overline {
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.0015em;
}

.playfair {
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-align: left;
}
.playfair--h1 {
  font-size: 96px;
  font-weight: 800;
  line-height: 128px;
  letter-spacing: -0.015em;
}
.playfair--h2 {
  font-size: 80px;
  font-weight: 400;
  line-height: 104px;
  letter-spacing: -0.015em;
}
.playfair--h3 {
  font-size: 64px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.005em;
}
.playfair--h4 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.0025em;
}
.playfair--h5 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.0025em;
}
.playfair--h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.0015em;
}
.playfair--h7 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.0015em;
}
.playfair--st1-regular {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.0015em;
}
.playfair--st1-medium {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.0015em;
}
.playfair--st2-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.playfair--st2-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.playfair--b1-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.playfair--b1-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.0015em;
}
.playfair--b2-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.playfair--b2-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.playfair--btn-1 {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.playfair--btn-2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
}
.playfair--caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
}
.playfair--overline {
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.0015em;
}

/*# sourceMappingURL=typography.css.map */
