@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// import script for component
// @import "../styles/typography";

// How to implement on component or element
// <p class="roboto-h1">Hello World!</p>

// Roboto
.roboto {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;

  &--h1 {
    font-size: 96px;
    font-weight: 600;
    line-height: 112px;
    letter-spacing: -0.015em;
  }

  &--h2 {
    font-size: 80px;
    font-weight: 300;
    line-height: 96px;
    letter-spacing: -0.015em;
  }

  &--h3 {
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0.005em;
  }

  &--h4 {
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.0025em;
  }

  &--h5 {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.0025em;
  }

  &--h6 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.0015em;
  }

  &--h7 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.0015em;
  }

  &--st1-regular {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.0015em;
  }

  &--st1-medium {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.0015em;
  }

  &--st2-regular {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.0015em;
  }

  &--st2-medium {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.0015em;
  }

  &--b1-regular {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0015em;
  }

  &--b1-medium {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.0015em;
  }

  &--b2-regular {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.0015em;
  }

  &--b2-medium {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.0015em;
  }

  &--btn-1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.0015em;
  }

  &--btn-2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.0015em;
  }

  &--caption {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.0015em;
  }

  &--overline {
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.0015em;
  }
}

// Poppins
.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: left;

  &--h1 {
    font-size: 96px;
    font-weight: 600;
    line-height: 128px;
    letter-spacing: -0.015em;
  }

  &--h2 {
    font-size: 80px;
    font-weight: 300;
    line-height: 104px;
    letter-spacing: -0.015em;
  }

  &--h3 {
    font-size: 64px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0.005em;
  }

  &--h4 {
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.0025em;
  }

  &--h5 {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.0025em;
  }

  &--h6 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.0015em;
  }

  &--h7 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.0015em;
  }

  &--st1-regular {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.0015em;
  }

  &--st1-medium {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.0015em;
  }

  &--st2-regular {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.0015em;
  }

  &--st2-medium {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.0015em;
  }

  &--b1-regular {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0015em;
  }

  &--b1-medium {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.0015em;
  }

  &--b2-regular {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.0015em;
  }

  &--b2-medium {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.0015em;
  }

  &--btn-1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.0015em;
  }

  &--btn-2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.0015em;
  }

  &--caption {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.0015em;
  }

  &--overline {
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.0015em;
  }
}

// Open Sans
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  text-align: left;

  &--h1 {
    font-size: 96px;
    font-weight: 800;
    line-height: 128px;
    letter-spacing: -0.015em;
  }

  &--h2 {
    font-size: 80px;
    font-weight: 300;
    line-height: 104px;
    letter-spacing: -0.015em;
  }

  &--h3 {
    font-size: 64px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0.005em;
  }

  &--h4 {
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.0025em;
  }

  &--h5 {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.0025em;
  }

  &--h6 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.0015em;
  }

  &--h7 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.0015em;
  }

  &--st1-regular {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.0015em;
  }

  &--st1-semibold {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.0015em;
  }

  &--st2-regular {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.0015em;
  }

  &--st2-semibold {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.0015em;
  }

  &--b1-regular {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0015em;
  }

  &--b1-semibold {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.0015em;
  }

  &--b2-regular {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.0015em;
  }

  &--b2-semibold {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.0015em;
  }

  &--btn-1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.0015em;
  }

  &--btn-2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.0015em;
  }

  &--caption {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.0015em;
  }

  &--overline {
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.0015em;
  }
}

// Playfair Display
.playfair {
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-align: left;

  &--h1 {
    font-size: 96px;
    font-weight: 800;
    line-height: 128px;
    letter-spacing: -0.015em;
  }

  &--h2 {
    font-size: 80px;
    font-weight: 400;
    line-height: 104px;
    letter-spacing: -0.015em;
  }

  &--h3 {
    font-size: 64px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0.005em;
  }

  &--h4 {
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.0025em;
  }

  &--h5 {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.0025em;
  }

  &--h6 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.0015em;
  }

  &--h7 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.0015em;
  }

  &--st1-regular {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.0015em;
  }

  &--st1-medium {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.0015em;
  }

  &--st2-regular {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.0015em;
  }

  &--st2-medium {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.0015em;
  }

  &--b1-regular {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.0015em;
  }

  &--b1-medium {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.0015em;
  }

  &--b2-regular {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.0015em;
  }

  &--b2-medium {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.0015em;
  }

  &--btn-1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.0015em;
  }

  &--btn-2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.0015em;
  }

  &--caption {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.0015em;
  }

  &--overline {
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.0015em;
  }
}
