@import "../../../scss/foundations/style.scss";

.gt-breadcrumb {
  &__separator {
    &--slash {
      --bs-breadcrumb-divider: "/";
    }
    &--minus {
      --bs-breadcrumb-divider: "-";
    }
    &--pipe {
      --bs-breadcrumb-divider: "|";
    }
    &--angle-bracket {
      --bs-breadcrumb-divider: ">";
    }
  }

  &__item {
    a {
      text-decoration: none;
    }

    &--previous {
      @extend .text--primary-navy-blue;
    }

    &--active {
      @extend .text--neutral-900;
    }
  }
}
