// Import script for component
// @import "../styles/color";

// Full color pallete
$navy-blue-50: #d2e5f3;
$navy-blue-100: #bbd8ed;
$navy-blue-200: #a5cbe7;
$navy-blue-300: #8ebee1;
$navy-blue-400: #77b1db;
$navy-blue-500: #61a4d5;
$navy-blue-600: #4a97cf;
$navy-blue-700: #348ac9;
$navy-blue-800: #1d7ec3;
$navy-blue-900: #1a71b0;
$sea-foam-50: #e5f1f5;
$sea-foam-100: #bfdce5;
$sea-foam-200: #91c7d9;
$sea-foam-300: #61b3d0;
$sea-foam-400: #3ea5cc;
$sea-foam-500: #1697c8;
$sea-foam-600: #0f8abb;
$sea-foam-700: #0079a9;
$sea-foam-800: #006896;
$sea-foam-900: #004a78;
$sun-50: #fef6e9;
$sun-100: #fdeed3;
$sun-200: #fce5bc;
$sun-300: #fbdca6;
$sun-400: #fad490;
$sun-500: #f9cb7a;
$sun-600: #f8c264;
$sun-700: #f7b94d;
$sun-800: #f5a821;
$sun-900: #dd971e;
$mustard-50: #fff9d8;
$mustard-100: #fff6cb;
$mustard-200: #fff3ba;
$mustard-300: #fff0a3;
$mustard-400: #ffea84;
$mustard-500: #ffe35b;
$mustard-600: #e9ca3d;
$mustard-700: #d7b323;
$mustard-800: #af9125;
$mustard-900: #8f7726;
$teal-50: #ddf5f2;
$teal-100: #cdf7ef;
$teal-200: #b3f2e6;
$teal-300: #7dead5;
$teal-400: #24e0c5;
$teal-500: #08c4b2;
$teal-600: #00a99c;
$teal-700: #0b968f;
$teal-800: #067c7c;
$teal-900: #026661;
$chocolate-50: #faf3e3;
$chocolate-100: #f4e0b8;
$chocolate-200: #edcc8a;
$chocolate-300: #e7b95e;
$chocolate-400: #e3aa41;
$chocolate-500: #e09d30;
$chocolate-600: #dc922b;
$chocolate-700: #d58426;
$chocolate-800: #cf7722;
$chocolate-900: #c3621d;
$charcoal-50: #ebeff2;
$charcoal-100: #ced7dd;
$charcoal-200: #afbdc6;
$charcoal-300: #8fa2af;
$charcoal-400: #788e9d;
$charcoal-500: #607a8c;
$charcoal-600: #546c7a;
$charcoal-700: #445864;
$charcoal-800: #36454f;
$charcoal-900: #253038;
$blue-50: #e9f8ff;
$blue-100: #dcf2ff;
$blue-200: #c7e4f9;
$blue-300: #a1d2f8;
$blue-400: #56adf5;
$blue-500: #3896e3;
$blue-600: #2b87d3;
$blue-700: #2079c3;
$blue-800: #116daa;
$blue-900: #0c5689;
$green-50: #ebf9eb;
$green-100: #d7f4d7;
$green-200: #c2f2bd;
$green-300: #98e58e;
$green-400: #75dd66;
$green-500: #59cb59;
$green-600: #2bb656;
$green-700: #0ca750;
$green-800: #008b46;
$green-900: #006b40;
$red-50: #ffeae9;
$red-100: #ffd5d2;
$red-200: #ffb8b1;
$red-300: #ff9c8f;
$red-400: #ff7f6e;
$red-500: #f76054;
$red-600: #ed4c42;
$red-700: #db3e3e;
$red-800: #c63434;
$red-900: #992222;
$yellow-50: #fff8e2;
$yellow-100: #fdefcd;
$yellow-200: #ffe99a;
$yellow-300: #ffe16e;
$yellow-400: #ffd943;
$yellow-500: #ffcd1c;
$yellow-600: #ffbc00;
$yellow-700: #dd9903;
$yellow-800: #ba7506;
$yellow-900: #944c0c;
$neutral-0: #ffffff;
$neutral-50: #f9fafa;
$neutral-100: #f3f4f4;
$neutral-200: #dee1e1;
$neutral-300: #c8cccc;
$neutral-400: #b0b6b7;
$neutral-500: #929a9b;
$neutral-600: #6e797a;
$neutral-700: #515e5f;
$neutral-800: #364141;
$neutral-900: #273333;
$neutral-1000: #162020;
$neutral-1100: #040404;
$neutral-1200: #000000;

// primary colors
$primary-navy-blue: $navy-blue-800;
$primary-sea-foam: $sea-foam-100;
$primary-sun: $sun-800;
$primary-mustard: $mustard-500;

// secondary colors
$secondary-charcoal: $charcoal-800;
$secondary-teal: $teal-500;
$secondary-chocolate: $chocolate-900;

// Semantic colors
$semantic-success: $green-700;
$semantic-link: $blue-700;
$semantic-error: $red-700;
$semantic-warning: $yellow-600;
