.cr {
  &--xxs {
    border-radius: 8px;
  }
  &--xs {
    border-radius: 16px;
  }
  &--sm {
    border-radius: 24px;
  }
  &--md {
    border-radius: 32px;
  }
  &--lg {
    border-radius: 40px;
  }
  &--xl {
    border-radius: 48px;
  }
  &--xxl {
    border-radius: 56px;
  }
}
