$columns-sm: 5;
$columns-md: 9;
$columns-lg: 13;

// list of column length based on device types
// 12 => lg => desktop
// 8 => md => tablet
// 4 => sm => phone

$no-gutter: 0px;
$gutter-sm: 8px;
$gutter-md: 16px;
$gutter-lg: 24px;
$gutter-xl: 32px;

@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

@mixin gridColumn($columnLength, $number, $gutter) {
  // width: calc((#{percentage($number / 12)} - #{$gutter}));
  width: calc((#{percentage($number / $columnLength)} - #{$gutter}));
  margin-top: 20px;
  margin-right: calc(#{$gutter} / 2);
  margin-left: calc(#{$gutter} / 2);
  float: left;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

@mixin insertSmallCol($number, $gutter) {
  @include gridColumn(4, $number, $gutter);
}

@mixin insertMediumCol($number, $gutter) {
  @include gridColumn(8, $number, $gutter);
}

@mixin insertLargeCol($number, $gutter) {
  @include gridColumn(12, $number, $gutter);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.grid-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;

  .grid-row {
    @include clearfix();
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @for $i from 1 to $columns-sm {
      .grid--col-sm-#{$i} {
        @include insertSmallCol($i, $no-gutter);

        &--gu {
          &-sm {
            @include insertSmallCol($i, $gutter-sm);
          }
          &-md {
            @include insertSmallCol($i, $gutter-md);
          }
          &-lg {
            @include insertSmallCol($i, $gutter-lg);
          }
          &-xl {
            @include insertSmallCol($i, $gutter-xl);
          }
        }
      }
    }

    @for $i from 1 to $columns-md {
      .grid--col-md-#{$i} {
        @include insertMediumCol($i, $no-gutter);

        &--gu {
          &-sm {
            @include insertMediumCol($i, $gutter-sm);
          }
          &-md {
            @include insertMediumCol($i, $gutter-md);
          }
          &-lg {
            @include insertMediumCol($i, $gutter-lg);
          }
          &-xl {
            @include insertMediumCol($i, $gutter-xl);
          }
        }
      }
    }

    @for $i from 1 to $columns-lg {
      .grid--col-lg-#{$i} {
        @include insertLargeCol($i, $no-gutter);

        &--gu {
          &-sm {
            @include insertLargeCol($i, $gutter-sm);
          }
          &-md {
            @include insertLargeCol($i, $gutter-md);
          }
          &-lg {
            @include insertLargeCol($i, $gutter-lg);
          }
          &-xl {
            @include insertLargeCol($i, $gutter-xl);
          }
        }
      }
    }
  }
}
