@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// import script for component
// @import "../styles/typography";

// How to implement on component or element
// <p class="roboto-h1">Hello World!</p>

// Roboto
.roboto-h1 {
  font-family: "Roboto", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: 112px;
  letter-spacing: -0.015em;
  text-align: left;
}

.roboto-h2 {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 300;
  line-height: 96px;
  letter-spacing: -0.015em;
  text-align: left;
}

.roboto-h3 {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0.005em;
  text-align: left;
}

.roboto-h4 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.0025em;
  text-align: left;
}

.roboto-h5 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.0025em;
  text-align: left;
}

.roboto-h6 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.roboto-h7 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.roboto-st1-regular {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.roboto-st1-medium {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.roboto-st2-regular {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.roboto-st2-medium {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.roboto-b1-regular {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.roboto-b1-medium {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.roboto-b2-regular {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.roboto-b2-medium {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.roboto-btn-1 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.roboto-btn-2 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.roboto-caption {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.0015em;
  text-align: left;
}

// Poppins
.poppins-h1 {
  font-family: "Poppins", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: 128px;
  letter-spacing: -0.015em;
  text-align: left;
}

.poppins-h2 {
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 300;
  line-height: 104px;
  letter-spacing: -0.015em;
  text-align: left;
}

.poppins-h3 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.005em;
  text-align: left;
}

.poppins-h4 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.0025em;
  text-align: left;
}

.poppins-h5 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.0025em;
  text-align: left;
}

.poppins-h6 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.poppins-h7 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.poppins-st1-regular {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.poppins-st1-medium {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.poppins-st2-regular {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.poppins-st2-medium {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.poppins-b1-regular {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.poppins-b1-medium {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.poppins-b2-regular {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.poppins-b2-medium {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.poppins-btn-1 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.poppins-btn-2 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.poppins-caption {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
  text-align: left;
}

// Open Sans
.open-sans-h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: 128px;
  letter-spacing: -0.015em;
  text-align: left;
}

.open-sans-h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 300;
  line-height: 104px;
  letter-spacing: -0.015em;
  text-align: left;
}

.open-sans-h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.005em;
  text-align: left;
}

.open-sans-h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.0025em;
  text-align: left;
}

.open-sans-h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.0025em;
  text-align: left;
}

.open-sans-h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.open-sans-h7 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.open-sans-st1-regular {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.open-sans-st1-semibold {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.open-sans-st2-regular {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.open-sans-st2-semibold {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.open-sans-b1-regular {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.open-sans-b1-semibold {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.open-sans-b2-regular {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.open-sans-b2-semibold {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.open-sans-btn-1 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.open-sans-btn-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.open-sans-caption {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
  text-align: left;
}

// Playfair Display
.playfair-display-h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: 128px;
  letter-spacing: -0.015em;
  text-align: left;
}

.playfair-display-h2 {
  font-family: "Playfair Display", serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 104px;
  letter-spacing: -0.015em;
  text-align: left;
}

.playfair-display-h3 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.005em;
  text-align: left;
}

.playfair-display-h4 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.0025em;
  text-align: left;
}

.playfair-display-h5 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.0025em;
  text-align: left;
}

.playfair-display-h6 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.playfair-display-h7 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.playfair-display-st1-regular {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.playfair-display-st1-medium {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.playfair-display-st2-regular {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.playfair-display-st2-medium {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.playfair-display-b1-regular {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.playfair-display-b1-medium {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.playfair-display-b2-regular {
  font-family: "Playfair Display", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.playfair-display-b2-medium {
  font-family: "Playfair Display", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.playfair-display-btn-1 {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.playfair-display-btn-2 {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.0015em;
  text-align: left;
}

.playfair-display-caption {
  font-family: "Playfair Display", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0015em;
  text-align: left;
}
