@use "../../assets/styles/color.scss";
@import "../../../scss/foundations/style.scss";

$bg-slider-track: color.$primary-navy-blue;
$bg-slider-track-disabled: color.$neutral-300;

.gt-slider {
  &__container {
    width: 30%;
  }

  &__field {
    @extend .bg--neutral-100;

    -webkit-transition: 0.2s;
    -webkit-appearance: none;
    transition: opacity 0.2s;
    appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    outline: none;
    background-image: linear-gradient($bg-slider-track, $bg-slider-track);
    background-size: 0% 100%;
    background-repeat: no-repeat;

    &::-webkit-slider-thumb {
      @extend .bg--neutral-0;
      @extend .border--neutral-500;

      -webkit-appearance: none;
      appearance: none;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      @extend .bg--neutral-0;
      @extend .border--neutral-500;

      width: 24px;
      height: 24px;
      border-radius: 50%;
      cursor: pointer;
    }

    &[disabled] {
      cursor: not-allowed;
      background-image: linear-gradient(
        $bg-slider-track-disabled,
        $bg-slider-track-disabled
      );
      background-size: 0% 100%;
      background-repeat: no-repeat;

      &::-webkit-slider-thumb {
        @extend .bg--neutral-100;

        cursor: not-allowed;
      }

      &::-moz-range-thumb {
        @extend .bg--neutral-100;

        cursor: not-allowed;
      }
    }
  }
}
