@import "../../../scss/foundations/style.scss";

$size-bezel: 0.5rem;

.gt-inputtext {
  @extend .poppins;
  @extend .poppins--b1-regular;
  @extend .text--neutral-500;

  position: relative;

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc($size-bezel * 0.75) calc($size-bezel * 0.5);
    // margin: calc($size-bezel * 0.75 + 3px) calc($size-bezel * 0.5);
    margin: calc($size-bezel * 0.75 + 3px) 35px;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: #ffffff;
    transition: transform 120ms ease-in;
    line-height: 1.2;
  }

  &__leading-icon {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px 10px;
  }

  &__trailing-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 10px;
  }

  &__field {
    @extend .cr--md;
    @extend .border--neutral-700;

    box-sizing: border-box;
    display: block;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    outline: none;
    // padding: calc($size-bezel * 1.5) $size-bezel;
    padding: calc($size-bezel * 1.5) 35px;
    background: transparent;

    &--error {
      border-color: #db3e3e !important;
      &:active:not([disabled]) {
        @extend .text--neutral-700;
      }
    }

    &--sm {
      height: 40px;
    }

    &--md {
      height: 56px;
    }

    &--length-sm {
      width: 256px;
    }

    &--length-md {
      width: 368px;
    }

    &--length-lg {
      width: 480px;
    }

    &:active:not([disabled], .gt-inputtext__field--error) {
      @extend .border--neutral-700;
      @extend .text--neutral-700;
    }

    &:focus:not([disabled], .gt-inputtext__field--error) {
      border-color: #1d7ec3 !important;
      @extend .text--neutral-500;

      & + .gt-inputtext__label {
        @extend .text--primary-navy-blue;
        // transform: translate(0.25rem, -65%) scale(0.8);
        transform: translate(-1.5rem, -65%) scale(0.8);
      }
    }

    &:hover:not([disabled], .gt-inputtext__field:focus, .gt-inputtext__field--error) {
      @extend .border--neutral-900;
      @extend .text--neutral-500;
    }

    &[disabled] {
      @extend .border--neutral-300;
      @extend .text--neutral-500;

      cursor: not-allowed;
    }
  }
}
