@import "../../../css/typography";
@import "../../../css/color";
@import "../../../css/corner-radius";
@import "../../../css/margin";

.gt-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  --webkit-user-select: none;
  --moz-user-select: none;
  --ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  p {
    margin-bottom: 0;
  }

  .label--title {
    @extend .poppins;
    @extend .poppins--b1-medium;
  }

  .label--subtitle {
    @extend .poppins;
    @extend .poppins--caption;
  }

  &--sm {
    .label--title {
      @extend .poppins;
      @extend .poppins--b2-medium;
    }

    .checkmark {
      @extend .cr--md;

      position: absolute;
      top: 2px;
      left: 6px;
      height: 16px;
      width: 16px;
      background-color: #eee;
      border-radius: 50%;

      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    .checkmark:after {
      top: 4px;
      left: 4px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #ffffff;
    }
  }

  &--md {
    .checkmark {
      @extend .cr--md;

      position: absolute;
      top: 1px;
      left: 5px;
      height: 20px;
      width: 20px;
      background-color: #eee;
      border-radius: 50%;

      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    .checkmark:after {
      top: 5px;
      left: 5px;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #ffffff;
    }
  }

  &--lg {
    .checkmark {
      @extend .cr--md;

      position: absolute;
      top: 0;
      left: 4px;
      height: 24px;
      width: 24px;
      background-color: #eee;
      border-radius: 50%;

      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    .checkmark:after {
      top: 7px;
      left: 7px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ffffff;
    }
  }

  &--primary {
    .label--title {
      @extend .text--neutral-900;
    }

    .label--subtitle {
      @extend .text--neutral-700;
    }

    input:checked ~ .checkmark {
      @extend .bg--primary-navy-blue;
    }

    input:checked ~ .checkmark:after {
      display: block;
    }
  }

  &--secondary {
    .label--title {
      @extend .text--neutral-900;
    }

    .label--subtitle {
      @extend .text--neutral-700;
    }

    input:checked ~ .checkmark {
      @extend .bg--semantic-error;
      border: none;
    }

    input:checked ~ .checkmark:after {
      display: block;
    }
  }

  &--disabled {
    .label--title {
      @extend .text--neutral-500;
    }

    .label--subtitle {
      @extend .text--neutral-500;
    }
  }
}
