// Import script for component
// @import "../styles/color";

// Full color pallete
$navy-blue-50: #d2e5f3;
$navy-blue-100: #bbd8ed;
$navy-blue-200: #a5cbe7;
$navy-blue-300: #8ebee1;
$navy-blue-400: #77b1db;
$navy-blue-500: #61a4d5;
$navy-blue-600: #4a97cf;
$navy-blue-700: #348ac9;
$navy-blue-800: #1d7ec3;
$navy-blue-900: #1a71b0;
$sea-foam-50: #e5f1f5;
$sea-foam-100: #bfdce5;
$sea-foam-200: #91c7d9;
$sea-foam-300: #61b3d0;
$sea-foam-400: #3ea5cc;
$sea-foam-500: #1697c8;
$sea-foam-600: #0f8abb;
$sea-foam-700: #0079a9;
$sea-foam-800: #006896;
$sea-foam-900: #004a78;
$sun-50: #fef6e9;
$sun-100: #fdeed3;
$sun-200: #fce5bc;
$sun-300: #fbdca6;
$sun-400: #fad490;
$sun-500: #f9cb7a;
$sun-600: #f8c264;
$sun-700: #f7b94d;
$sun-800: #f5a821;
$sun-900: #dd971e;
$mustard-50: #fff9d8;
$mustard-100: #fff6cb;
$mustard-200: #fff3ba;
$mustard-300: #fff0a3;
$mustard-400: #ffea84;
$mustard-500: #ffe35b;
$mustard-600: #e9ca3d;
$mustard-700: #d7b323;
$mustard-800: #af9125;
$mustard-900: #8f7726;
$teal-50: #ddf5f2;
$teal-100: #cdf7ef;
$teal-200: #b3f2e6;
$teal-300: #7dead5;
$teal-400: #24e0c5;
$teal-500: #08c4b2;
$teal-600: #00a99c;
$teal-700: #0b968f;
$teal-800: #067c7c;
$teal-900: #026661;
$chocolate-50: #faf3e3;
$chocolate-100: #f4e0b8;
$chocolate-200: #edcc8a;
$chocolate-300: #e7b95e;
$chocolate-400: #e3aa41;
$chocolate-500: #e09d30;
$chocolate-600: #dc922b;
$chocolate-700: #d58426;
$chocolate-800: #cf7722;
$chocolate-900: #c3621d;
$charcoal-50: #ebeff2;
$charcoal-100: #ced7dd;
$charcoal-200: #afbdc6;
$charcoal-300: #8fa2af;
$charcoal-400: #788e9d;
$charcoal-500: #607a8c;
$charcoal-600: #546c7a;
$charcoal-700: #445864;
$charcoal-800: #36454f;
$charcoal-900: #253038;
$blue-50: #e9f8ff;
$blue-100: #dcf2ff;
$blue-200: #c7e4f9;
$blue-300: #a1d2f8;
$blue-400: #56adf5;
$blue-500: #3896e3;
$blue-600: #2b87d3;
$blue-700: #2079c3;
$blue-800: #116daa;
$blue-900: #0c5689;
$green-50: #ebf9eb;
$green-100: #d7f4d7;
$green-200: #c2f2bd;
$green-300: #98e58e;
$green-400: #75dd66;
$green-500: #59cb59;
$green-600: #2bb656;
$green-700: #0ca750;
$green-800: #008b46;
$green-900: #006b40;
$red-50: #ffeae9;
$red-100: #ffd5d2;
$red-200: #ffb8b1;
$red-300: #ff9c8f;
$red-400: #ff7f6e;
$red-500: #f76054;
$red-600: #ed4c42;
$red-700: #db3e3e;
$red-800: #c63434;
$red-900: #992222;
$yellow-50: #fff8e2;
$yellow-100: #fdefcd;
$yellow-200: #ffe99a;
$yellow-300: #ffe16e;
$yellow-400: #ffd943;
$yellow-500: #ffcd1c;
$yellow-600: #ffbc00;
$yellow-700: #dd9903;
$yellow-800: #ba7506;
$yellow-900: #944c0c;
$neutral-0: #ffffff;
$neutral-50: #f9fafa;
$neutral-100: #f3f4f4;
$neutral-200: #dee1e1;
$neutral-300: #c8cccc;
$neutral-400: #b0b6b7;
$neutral-500: #929a9b;
$neutral-600: #6e797a;
$neutral-700: #515e5f;
$neutral-800: #364141;
$neutral-900: #273333;
$neutral-1000: #162020;
$neutral-1100: #040404;
$neutral-1200: #000000;

// primary colors
$primary-navy-blue: $navy-blue-800;
$primary-sea-foam: $sea-foam-100;
$primary-sun: $sun-800;
$primary-mustard: $mustard-500;

// secondary colors
$secondary-charcoal: $charcoal-800;
$secondary-teal: $teal-500;
$secondary-chocolate: $chocolate-800;

// Semantic colors
$semantic-success: $green-700;
$semantic-link: $blue-700;
$semantic-error: $red-700;
$semantic-warning: $yellow-600;

// implementation
.text {
  &--primary {
    &-navy-blue {
      color: $primary-navy-blue;
    }
    &-sea-foam {
      color: $primary-sea-foam;
    }
    &-sun {
      color: $primary-sun;
    }
    &-mustard {
      color: $primary-mustard;
    }
  }
  &--secondary {
    &-charcoal {
      color: $secondary-charcoal;
    }
    &-teal {
      color: $secondary-teal;
    }
    &-chocolate {
      color: $secondary-chocolate;
    }
  }
  &--semantic {
    &-success {
      color: $semantic-success;
    }
    &-link {
      color: $semantic-link;
    }
    &-error {
      color: $semantic-error;
    }
    &-warning {
      color: $semantic-warning;
    }
  }
  &--navy-blue {
    &-50 {
      color: $navy-blue-50;
    }
    &-100 {
      color: $navy-blue-100;
    }
    &-200 {
      color: $navy-blue-200;
    }
    &-300 {
      color: $navy-blue-300;
    }
    &-400 {
      color: $navy-blue-400;
    }
    &-500 {
      color: $navy-blue-500;
    }
    &-600 {
      color: $navy-blue-600;
    }
    &-700 {
      color: $navy-blue-700;
    }
    &-800 {
      color: $navy-blue-800;
    }
    &-900 {
      color: $navy-blue-900;
    }
  }
  &--sea-foam {
    &-50 {
      color: $sea-foam-50;
    }
    &-100 {
      color: $sea-foam-100;
    }
    &-200 {
      color: $sea-foam-200;
    }
    &-300 {
      color: $sea-foam-300;
    }
    &-400 {
      color: $sea-foam-400;
    }
    &-500 {
      color: $sea-foam-500;
    }
    &-600 {
      color: $sea-foam-600;
    }
    &-700 {
      color: $sea-foam-700;
    }
    &-800 {
      color: $sea-foam-800;
    }
    &-900 {
      color: $sea-foam-900;
    }
  }
  &--sun {
    &-50 {
      color: $sun-50;
    }
    &-100 {
      color: $sun-100;
    }
    &-200 {
      color: $sun-200;
    }
    &-300 {
      color: $sun-300;
    }
    &-400 {
      color: $sun-400;
    }
    &-500 {
      color: $sun-500;
    }
    &-600 {
      color: $sun-600;
    }
    &-700 {
      color: $sun-700;
    }
    &-800 {
      color: $sun-800;
    }
    &-900 {
      color: $sun-900;
    }
  }
  &--mustard {
    &-50 {
      color: $mustard-50;
    }
    &-100 {
      color: $mustard-100;
    }
    &-200 {
      color: $mustard-200;
    }
    &-300 {
      color: $mustard-300;
    }
    &-400 {
      color: $mustard-400;
    }
    &-500 {
      color: $mustard-500;
    }
    &-600 {
      color: $mustard-600;
    }
    &-700 {
      color: $mustard-700;
    }
    &-800 {
      color: $mustard-800;
    }
    &-900 {
      color: $mustard-900;
    }
  }
  &--teal {
    &-50 {
      color: $teal-50;
    }
    &-100 {
      color: $teal-100;
    }
    &-200 {
      color: $teal-200;
    }
    &-300 {
      color: $teal-300;
    }
    &-400 {
      color: $teal-400;
    }
    &-500 {
      color: $teal-500;
    }
    &-600 {
      color: $teal-600;
    }
    &-700 {
      color: $teal-700;
    }
    &-800 {
      color: $teal-800;
    }
    &-900 {
      color: $teal-900;
    }
  }
  &--chocolate {
    &-50 {
      color: $chocolate-50;
    }
    &-100 {
      color: $chocolate-100;
    }
    &-200 {
      color: $chocolate-200;
    }
    &-300 {
      color: $chocolate-300;
    }
    &-400 {
      color: $chocolate-400;
    }
    &-500 {
      color: $chocolate-500;
    }
    &-600 {
      color: $chocolate-600;
    }
    &-700 {
      color: $chocolate-700;
    }
    &-800 {
      color: $chocolate-800;
    }
    &-900 {
      color: $chocolate-900;
    }
  }
  &--charcoal {
    &-50 {
      color: $charcoal-50;
    }
    &-100 {
      color: $charcoal-100;
    }
    &-200 {
      color: $charcoal-200;
    }
    &-300 {
      color: $charcoal-300;
    }
    &-400 {
      color: $charcoal-400;
    }
    &-500 {
      color: $charcoal-500;
    }
    &-600 {
      color: $charcoal-600;
    }
    &-700 {
      color: $charcoal-700;
    }
    &-800 {
      color: $charcoal-800;
    }
    &-900 {
      color: $charcoal-900;
    }
  }
  &--blue {
    &-50 {
      color: $blue-50;
    }
    &-100 {
      color: $blue-100;
    }
    &-200 {
      color: $blue-200;
    }
    &-300 {
      color: $blue-300;
    }
    &-400 {
      color: $blue-400;
    }
    &-500 {
      color: $blue-500;
    }
    &-600 {
      color: $blue-600;
    }
    &-700 {
      color: $blue-700;
    }
    &-800 {
      color: $blue-800;
    }
    &-900 {
      color: $blue-900;
    }
  }
  &--green {
    &-50 {
      color: $green-50;
    }
    &-100 {
      color: $green-100;
    }
    &-200 {
      color: $green-200;
    }
    &-300 {
      color: $green-300;
    }
    &-400 {
      color: $green-400;
    }
    &-500 {
      color: $green-500;
    }
    &-600 {
      color: $green-600;
    }
    &-700 {
      color: $green-700;
    }
    &-800 {
      color: $green-800;
    }
    &-900 {
      color: $green-900;
    }
  }
  &--red {
    &-50 {
      color: $red-50;
    }
    &-100 {
      color: $red-100;
    }
    &-200 {
      color: $red-200;
    }
    &-300 {
      color: $red-300;
    }
    &-400 {
      color: $red-400;
    }
    &-500 {
      color: $red-500;
    }
    &-600 {
      color: $red-600;
    }
    &-700 {
      color: $red-700;
    }
    &-800 {
      color: $red-800;
    }
    &-900 {
      color: $red-900;
    }
  }
  &--yellow {
    &-50 {
      color: $yellow-50;
    }
    &-100 {
      color: $yellow-100;
    }
    &-200 {
      color: $yellow-200;
    }
    &-300 {
      color: $yellow-300;
    }
    &-400 {
      color: $yellow-400;
    }
    &-500 {
      color: $yellow-500;
    }
    &-600 {
      color: $yellow-600;
    }
    &-700 {
      color: $yellow-700;
    }
    &-800 {
      color: $yellow-800;
    }
    &-900 {
      color: $yellow-900;
    }
  }
  &--neutral {
    &-50 {
      color: $neutral-50;
    }
    &-100 {
      color: $neutral-100;
    }
    &-200 {
      color: $neutral-200;
    }
    &-300 {
      color: $neutral-300;
    }
    &-400 {
      color: $neutral-400;
    }
    &-500 {
      color: $neutral-500;
    }
    &-600 {
      color: $neutral-600;
    }
    &-700 {
      color: $neutral-700;
    }
    &-800 {
      color: $neutral-800;
    }
    &-900 {
      color: $neutral-900;
    }
    &-1000 {
      color: $neutral-1000;
    }
    &-1100 {
      color: $neutral-1100;
    }
    &-1200 {
      color: $neutral-1200;
    }
  }
}

.bg {
  &--primary {
    &-navy-blue {
      background-color: $primary-navy-blue;
    }
    &-sea-foam {
      background-color: $primary-sea-foam;
    }
    &-sun {
      background-color: $primary-sun;
    }
    &-mustard {
      background-color: $primary-mustard;
    }
  }
  &--secondary {
    &-charcoal {
      background-color: $secondary-charcoal;
    }
    &-teal {
      background-color: $secondary-teal;
    }
    &-chocolate {
      background-color: $secondary-chocolate;
    }
  }
  &--semantic {
    &-success {
      background-color: $semantic-success;
    }
    &-link {
      background-color: $semantic-link;
    }
    &-error {
      background-color: $semantic-error;
    }
    &-warning {
      background-color: $semantic-warning;
    }
  }
  &--navy-blue {
    &-50 {
      background-color: $navy-blue-50;
    }
    &-100 {
      background-color: $navy-blue-100;
    }
    &-200 {
      background-color: $navy-blue-200;
    }
    &-300 {
      background-color: $navy-blue-300;
    }
    &-400 {
      background-color: $navy-blue-400;
    }
    &-500 {
      background-color: $navy-blue-500;
    }
    &-600 {
      background-color: $navy-blue-600;
    }
    &-700 {
      background-color: $navy-blue-700;
    }
    &-800 {
      background-color: $navy-blue-800;
    }
    &-900 {
      background-color: $navy-blue-900;
    }
  }
  &--sea-foam {
    &-50 {
      background-color: $sea-foam-50;
    }
    &-100 {
      background-color: $sea-foam-100;
    }
    &-200 {
      background-color: $sea-foam-200;
    }
    &-300 {
      background-color: $sea-foam-300;
    }
    &-400 {
      background-color: $sea-foam-400;
    }
    &-500 {
      background-color: $sea-foam-500;
    }
    &-600 {
      background-color: $sea-foam-600;
    }
    &-700 {
      background-color: $sea-foam-700;
    }
    &-800 {
      background-color: $sea-foam-800;
    }
    &-900 {
      background-color: $sea-foam-900;
    }
  }
  &--sun {
    &-50 {
      background-color: $sun-50;
    }
    &-100 {
      background-color: $sun-100;
    }
    &-200 {
      background-color: $sun-200;
    }
    &-300 {
      background-color: $sun-300;
    }
    &-400 {
      background-color: $sun-400;
    }
    &-500 {
      background-color: $sun-500;
    }
    &-600 {
      background-color: $sun-600;
    }
    &-700 {
      background-color: $sun-700;
    }
    &-800 {
      background-color: $sun-800;
    }
    &-900 {
      background-color: $sun-900;
    }
  }
  &--mustard {
    &-50 {
      background-color: $mustard-50;
    }
    &-100 {
      background-color: $mustard-100;
    }
    &-200 {
      background-color: $mustard-200;
    }
    &-300 {
      background-color: $mustard-300;
    }
    &-400 {
      background-color: $mustard-400;
    }
    &-500 {
      background-color: $mustard-500;
    }
    &-600 {
      background-color: $mustard-600;
    }
    &-700 {
      background-color: $mustard-700;
    }
    &-800 {
      background-color: $mustard-800;
    }
    &-900 {
      background-color: $mustard-900;
    }
  }
  &--teal {
    &-50 {
      background-color: $teal-50;
    }
    &-100 {
      background-color: $teal-100;
    }
    &-200 {
      background-color: $teal-200;
    }
    &-300 {
      background-color: $teal-300;
    }
    &-400 {
      background-color: $teal-400;
    }
    &-500 {
      background-color: $teal-500;
    }
    &-600 {
      background-color: $teal-600;
    }
    &-700 {
      background-color: $teal-700;
    }
    &-800 {
      background-color: $teal-800;
    }
    &-900 {
      background-color: $teal-900;
    }
  }
  &--chocolate {
    &-50 {
      background-color: $chocolate-50;
    }
    &-100 {
      background-color: $chocolate-100;
    }
    &-200 {
      background-color: $chocolate-200;
    }
    &-300 {
      background-color: $chocolate-300;
    }
    &-400 {
      background-color: $chocolate-400;
    }
    &-500 {
      background-color: $chocolate-500;
    }
    &-600 {
      background-color: $chocolate-600;
    }
    &-700 {
      background-color: $chocolate-700;
    }
    &-800 {
      background-color: $chocolate-800;
    }
    &-900 {
      background-color: $chocolate-900;
    }
  }
  &--charcoal {
    &-50 {
      background-color: $charcoal-50;
    }
    &-100 {
      background-color: $charcoal-100;
    }
    &-200 {
      background-color: $charcoal-200;
    }
    &-300 {
      background-color: $charcoal-300;
    }
    &-400 {
      background-color: $charcoal-400;
    }
    &-500 {
      background-color: $charcoal-500;
    }
    &-600 {
      background-color: $charcoal-600;
    }
    &-700 {
      background-color: $charcoal-700;
    }
    &-800 {
      background-color: $charcoal-800;
    }
    &-900 {
      background-color: $charcoal-900;
    }
  }
  &--blue {
    &-50 {
      background-color: $blue-50;
    }
    &-100 {
      background-color: $blue-100;
    }
    &-200 {
      background-color: $blue-200;
    }
    &-300 {
      background-color: $blue-300;
    }
    &-400 {
      background-color: $blue-400;
    }
    &-500 {
      background-color: $blue-500;
    }
    &-600 {
      background-color: $blue-600;
    }
    &-700 {
      background-color: $blue-700;
    }
    &-800 {
      background-color: $blue-800;
    }
    &-900 {
      background-color: $blue-900;
    }
  }
  &--green {
    &-50 {
      background-color: $green-50;
    }
    &-100 {
      background-color: $green-100;
    }
    &-200 {
      background-color: $green-200;
    }
    &-300 {
      background-color: $green-300;
    }
    &-400 {
      background-color: $green-400;
    }
    &-500 {
      background-color: $green-500;
    }
    &-600 {
      background-color: $green-600;
    }
    &-700 {
      background-color: $green-700;
    }
    &-800 {
      background-color: $green-800;
    }
    &-900 {
      background-color: $green-900;
    }
  }
  &--red {
    &-50 {
      background-color: $red-50;
    }
    &-100 {
      background-color: $red-100;
    }
    &-200 {
      background-color: $red-200;
    }
    &-300 {
      background-color: $red-300;
    }
    &-400 {
      background-color: $red-400;
    }
    &-500 {
      background-color: $red-500;
    }
    &-600 {
      background-color: $red-600;
    }
    &-700 {
      background-color: $red-700;
    }
    &-800 {
      background-color: $red-800;
    }
    &-900 {
      background-color: $red-900;
    }
  }
  &--yellow {
    &-50 {
      background-color: $yellow-50;
    }
    &-100 {
      background-color: $yellow-100;
    }
    &-200 {
      background-color: $yellow-200;
    }
    &-300 {
      background-color: $yellow-300;
    }
    &-400 {
      background-color: $yellow-400;
    }
    &-500 {
      background-color: $yellow-500;
    }
    &-600 {
      background-color: $yellow-600;
    }
    &-700 {
      background-color: $yellow-700;
    }
    &-800 {
      background-color: $yellow-800;
    }
    &-900 {
      background-color: $yellow-900;
    }
  }
  &--neutral {
    &-0 {
      background-color: $neutral-0;
    }
    &-50 {
      background-color: $neutral-50;
    }
    &-100 {
      background-color: $neutral-100;
    }
    &-200 {
      background-color: $neutral-200;
    }
    &-300 {
      background-color: $neutral-300;
    }
    &-400 {
      background-color: $neutral-400;
    }
    &-500 {
      background-color: $neutral-500;
    }
    &-600 {
      background-color: $neutral-600;
    }
    &-700 {
      background-color: $neutral-700;
    }
    &-800 {
      background-color: $neutral-800;
    }
    &-900 {
      background-color: $neutral-900;
    }
    &-1000 {
      background-color: $neutral-1000;
    }
    &-1100 {
      background-color: $neutral-1100;
    }
    &-1200 {
      background-color: $neutral-1200;
    }
  }
}

.border {
  &--primary {
    &-navy-blue {
      border-color: $primary-navy-blue !important;
    }
    &-sea-foam {
      border-color: $primary-sea-foam !important;
    }
    &-sun {
      border-color: $primary-sun !important;
    }
    &-mustard {
      border-color: $primary-mustard !important;
    }
  }
  &--secondary {
    &-charcoal {
      border-color: $secondary-charcoal !important;
    }
    &-teal {
      border-color: $secondary-teal !important;
    }
    &-chocolate {
      border-color: $secondary-chocolate !important;
    }
  }
  &--semantic {
    &-success {
      border-color: $semantic-success !important;
    }
    &-link {
      border-color: $semantic-link !important;
    }
    &-error {
      border-color: $semantic-error !important;
    }
    &-warning {
      border-color: $semantic-warning !important;
    }
  }
  &--navy-blue {
    &-50 {
      border-color: $navy-blue-50 !important;
    }
    &-100 {
      border-color: $navy-blue-100 !important;
    }
    &-200 {
      border-color: $navy-blue-200 !important;
    }
    &-300 {
      border-color: $navy-blue-300 !important;
    }
    &-400 {
      border-color: $navy-blue-400 !important;
    }
    &-500 {
      border-color: $navy-blue-500 !important;
    }
    &-600 {
      border-color: $navy-blue-600 !important;
    }
    &-700 {
      border-color: $navy-blue-700 !important;
    }
    &-800 {
      border-color: $navy-blue-800 !important;
    }
    &-900 {
      border-color: $navy-blue-900 !important;
    }
  }
  &--sea-foam {
    &-50 {
      border-color: $sea-foam-50 !important;
    }
    &-100 {
      border-color: $sea-foam-100 !important;
    }
    &-200 {
      border-color: $sea-foam-200 !important;
    }
    &-300 {
      border-color: $sea-foam-300 !important;
    }
    &-400 {
      border-color: $sea-foam-400 !important;
    }
    &-500 {
      border-color: $sea-foam-500 !important;
    }
    &-600 {
      border-color: $sea-foam-600 !important;
    }
    &-700 {
      border-color: $sea-foam-700 !important;
    }
    &-800 {
      border-color: $sea-foam-800 !important;
    }
    &-900 {
      border-color: $sea-foam-900 !important;
    }
  }
  &--sun {
    &-50 {
      border-color: $sun-50 !important;
    }
    &-100 {
      border-color: $sun-100 !important;
    }
    &-200 {
      border-color: $sun-200 !important;
    }
    &-300 {
      border-color: $sun-300 !important;
    }
    &-400 {
      border-color: $sun-400 !important;
    }
    &-500 {
      border-color: $sun-500 !important;
    }
    &-600 {
      border-color: $sun-600 !important;
    }
    &-700 {
      border-color: $sun-700 !important;
    }
    &-800 {
      border-color: $sun-800 !important;
    }
    &-900 {
      border-color: $sun-900 !important;
    }
  }
  &--mustard {
    &-50 {
      border-color: $mustard-50 !important;
    }
    &-100 {
      border-color: $mustard-100 !important;
    }
    &-200 {
      border-color: $mustard-200 !important;
    }
    &-300 {
      border-color: $mustard-300 !important;
    }
    &-400 {
      border-color: $mustard-400 !important;
    }
    &-500 {
      border-color: $mustard-500 !important;
    }
    &-600 {
      border-color: $mustard-600 !important;
    }
    &-700 {
      border-color: $mustard-700 !important;
    }
    &-800 {
      border-color: $mustard-800 !important;
    }
    &-900 {
      border-color: $mustard-900 !important;
    }
  }
  &--teal {
    &-50 {
      border-color: $teal-50 !important;
    }
    &-100 {
      border-color: $teal-100 !important;
    }
    &-200 {
      border-color: $teal-200 !important;
    }
    &-300 {
      border-color: $teal-300 !important;
    }
    &-400 {
      border-color: $teal-400 !important;
    }
    &-500 {
      border-color: $teal-500 !important;
    }
    &-600 {
      border-color: $teal-600 !important;
    }
    &-700 {
      border-color: $teal-700 !important;
    }
    &-800 {
      border-color: $teal-800 !important;
    }
    &-900 {
      border-color: $teal-900 !important;
    }
  }
  &--chocolate {
    &-50 {
      border-color: $chocolate-50 !important;
    }
    &-100 {
      border-color: $chocolate-100 !important;
    }
    &-200 {
      border-color: $chocolate-200 !important;
    }
    &-300 {
      border-color: $chocolate-300 !important;
    }
    &-400 {
      border-color: $chocolate-400 !important;
    }
    &-500 {
      border-color: $chocolate-500 !important;
    }
    &-600 {
      border-color: $chocolate-600 !important;
    }
    &-700 {
      border-color: $chocolate-700 !important;
    }
    &-800 {
      border-color: $chocolate-800 !important;
    }
    &-900 {
      border-color: $chocolate-900 !important;
    }
  }
  &--charcoal {
    &-50 {
      border-color: $charcoal-50 !important;
    }
    &-100 {
      border-color: $charcoal-100 !important;
    }
    &-200 {
      border-color: $charcoal-200 !important;
    }
    &-300 {
      border-color: $charcoal-300 !important;
    }
    &-400 {
      border-color: $charcoal-400 !important;
    }
    &-500 {
      border-color: $charcoal-500 !important;
    }
    &-600 {
      border-color: $charcoal-600 !important;
    }
    &-700 {
      border-color: $charcoal-700 !important;
    }
    &-800 {
      border-color: $charcoal-800 !important;
    }
    &-900 {
      border-color: $charcoal-900 !important;
    }
  }
  &--blue {
    &-50 {
      border-color: $blue-50 !important;
    }
    &-100 {
      border-color: $blue-100 !important;
    }
    &-200 {
      border-color: $blue-200 !important;
    }
    &-300 {
      border-color: $blue-300 !important;
    }
    &-400 {
      border-color: $blue-400 !important;
    }
    &-500 {
      border-color: $blue-500 !important;
    }
    &-600 {
      border-color: $blue-600 !important;
    }
    &-700 {
      border-color: $blue-700 !important;
    }
    &-800 {
      border-color: $blue-800 !important;
    }
    &-900 {
      border-color: $blue-900 !important;
    }
  }
  &--green {
    &-50 {
      border-color: $green-50 !important;
    }
    &-100 {
      border-color: $green-100 !important;
    }
    &-200 {
      border-color: $green-200 !important;
    }
    &-300 {
      border-color: $green-300 !important;
    }
    &-400 {
      border-color: $green-400 !important;
    }
    &-500 {
      border-color: $green-500 !important;
    }
    &-600 {
      border-color: $green-600 !important;
    }
    &-700 {
      border-color: $green-700 !important;
    }
    &-800 {
      border-color: $green-800 !important;
    }
    &-900 {
      border-color: $green-900 !important;
    }
  }
  &--red {
    &-50 {
      border-color: $red-50 !important;
    }
    &-100 {
      border-color: $red-100 !important;
    }
    &-200 {
      border-color: $red-200 !important;
    }
    &-300 {
      border-color: $red-300 !important;
    }
    &-400 {
      border-color: $red-400 !important;
    }
    &-500 {
      border-color: $red-500 !important;
    }
    &-600 {
      border-color: $red-600 !important;
    }
    &-700 {
      border-color: $red-700 !important;
    }
    &-800 {
      border-color: $red-800 !important;
    }
    &-900 {
      border-color: $red-900 !important;
    }
  }
  &--yellow {
    &-50 {
      border-color: $yellow-50 !important;
    }
    &-100 {
      border-color: $yellow-100 !important;
    }
    &-200 {
      border-color: $yellow-200 !important;
    }
    &-300 {
      border-color: $yellow-300 !important;
    }
    &-400 {
      border-color: $yellow-400 !important;
    }
    &-500 {
      border-color: $yellow-500 !important;
    }
    &-600 {
      border-color: $yellow-600 !important;
    }
    &-700 {
      border-color: $yellow-700 !important;
    }
    &-800 {
      border-color: $yellow-800 !important;
    }
    &-900 {
      border-color: $yellow-900 !important;
    }
  }
  &--neutral {
    &-50 {
      border-color: $neutral-50 !important;
    }
    &-100 {
      border-color: $neutral-100 !important;
    }
    &-200 {
      border-color: $neutral-200 !important;
    }
    &-300 {
      border-color: $neutral-300 !important;
    }
    &-400 {
      border-color: $neutral-400 !important;
    }
    &-500 {
      border-color: $neutral-500 !important;
    }
    &-600 {
      border-color: $neutral-600 !important;
    }
    &-700 {
      border-color: $neutral-700 !important;
    }
    &-800 {
      border-color: $neutral-800 !important;
    }
    &-900 {
      border-color: $neutral-900 !important;
    }
    &-1000 {
      border-color: $neutral-1000 !important;
    }
    &-1100 {
      border-color: $neutral-1100 !important;
    }
    &-1200 {
      border-color: $neutral-1200 !important;
    }
  }
}
