@use "../../assets/styles/color.scss";
@import "../../../scss/foundations/style.scss";

$center-line-color: color.$neutral-300;
$timeline-card-bg: color.$neutral-50;
$timeline-circle-icon-bg: color.$neutral-50;
$timeline-circle-bg: color.$sun-200;
$timeline-circle-border: color.$neutral-300;

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;

  .center-line {
    position: absolute;
    height: 100%;
    width: 4px;
    background: $center-line-color;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);

    .scroll-icon {
      position: absolute;
      background-color: $timeline-circle-bg;
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 35px;
      border: solid 2px $timeline-card-bg;
      border-radius: 50%;
      color: #000;
      font-size: 12px;
    }
  }

  .row {
    display: flex;

    section {
      @extend .be--low-medium;

      background: $timeline-card-bg;
      width: calc(50% - 40px);
      margin-bottom: 30px;
      padding: 20px;
      position: relative;
      border-radius: 8px;

      .icon {
        position: absolute;
        background-color: $timeline-circle-icon-bg;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 35px;
        border: solid 2px $timeline-circle-border;
        border-radius: 50%;
        color: #000;
        font-size: 12px;

        &.no-icon {
          background-color: $timeline-circle-bg;
        }
      }

      .details {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
          font-size: 22px;
          font-weight: 600;
        }
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          text-decoration: none;
          background: #3ea0e2;
          color: #fff;
          padding: 7px 15px;
          border-radius: 5px;
          /* font-size: 17px; */
          font-weight: 400;
          transition: all 0.3s ease;

          &:hover {
            transform: scale(0.97);
          }
        }
      }

      p {
        margin: 10px 0 17px 0;
      }
    }
  }

  .row-left {
    justify-content: flex-start;

    section {
      .icon {
        top: 10px;
        right: -4.4rem;
      }
    }
  }

  .row-right {
    justify-content: flex-end;

    section {
      .icon {
        top: 10px;
        left: -4.4rem;
      }
    }
  }
}

.center-line {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}

@media (max-width: 790px) {
  .wrapper {
    .center-line {
      left: 40px;
    }

    .row {
      margin: 30px 0 3px 60px;

      section {
        width: 100%;
      }
    }
  }

  .row-left section {
    section {
      &::before {
        left: -7px;
      }

      .icon {
        left: -60px;
      }
    }
  }
}

@media (max-width: 440px) {
  .wrapper {
    .center-line {
      display: none;
    }

    .row {
      margin: 10px 0;
    }
  }

  .row {
    section {
      &::before {
        display: none;
      }

      .icon {
        display: none;
      }
    }
  }
}
