@import "../../../scss/foundations/style.scss";

body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  height: 100vh;
  background-color: #f1f1f1;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

select {
  width: 482px;
  height: 48px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: cursive, sans-serif;
  outline: 0;
  background: #fff;
  color: #000;
  border: 1px solid #c8cccc;
  padding: 4px;
  border-radius: 8px;
}

.combobox {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
  color: #fff;
}

.combobox::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #fff;
  border-top: 1px solid #c8cccc;
  border-right: 1px solid #c8cccc;
  border-bottom: 1px solid #c8cccc;
  color: #000;
  transition: 0.25s all ease;
  pointer-events: none;
}
